<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Sandy Luo - Web Portfolio</title>

    <meta name="description" content="Sandy_Luo - Web Portfolio">
    <meta name="keywords" content="Sandy_Luo,web,design,portfolio">
    <meta name="author" content="Sandy_Luo">

    <link rel="icon" type="image/png" href="assets/img/logo5-style2.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700%7cOpen+Sans:400,400italic,600" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="assets/bower_components/font-awesome/css/font-awesome.min.css">

    <!-- IonIcons -->
    <link rel="stylesheet" href="assets/bower_components/ionicons/css/ionicons.min.css">

    <!-- Revolution Slider -->
    <link rel="stylesheet" type="text/css" href="assets/plugins/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="assets/plugins/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="assets/plugins/revolution/css/navigation.css">

    <!-- Flickity -->
    <link rel="stylesheet" href="assets/bower_components/flickity/dist/flickity.min.css">

    <!-- Photoswipe -->
    <link rel="stylesheet" type="text/css" href="assets/bower_components/photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="assets/bower_components/photoswipe/dist/default-skin/default-skin.css">

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="assets/bower_components/datetimepicker/build/jquery.datetimepicker.min.css">

    <!-- Prism -->
    <link rel="stylesheet" type="text/css" href="assets/bower_components/prism/themes/prism-tomorrow.css">

    <!-- Khaki -->
    <link rel="stylesheet" href="assets/css/khaki.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/sec_style.css">

    <!-- END: Styles -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

    <!-- jQuery -->
    <script src="assets/bower_components/jquery/dist/jquery.min.js"></script>

</head>
<body>
    <div id="app">
        <header class="nk-header">
            <div class="nk-contacts-top">
                <div class="container">
                    <div class="nk-contacts-left">
                        <div class="nk-navbar">
                            <ul class="nk-nav">
                                <li>
                                    <a href="mailto:{{mail}}">
                                        <span class="nk-contact-icon"><i class="ion-ios-email"></i></span> {{mail}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-transparent nk-navbar-autohide">
                
                <div class="nk-nav-table">
                    <a href="#" class="nk-nav-logo">
                        <img class="hidden-sm-up" src="assets/img/logo-style2-1.png" alt="" >
                        <img class="hidden-xs-down" src="assets/img/logo-style2.png" alt="" >
                    </a>
                </div>
            </nav>
            <!-- END: Navbar -->

        </header>

        <div class="nk-main">

            <div class="nk-fullpage">

                <div class="nk-fullpage-item" style="background-image: url(assets/img/bg3.jpg); background-size: cover">
                   
                    <div>
                        <div class="container">
                            <div class="nk-portfolio-text-box bg-dark  top-1">
                                <h1>{{title}}</h1>

                                <div class="nk-gap"></div>
                                <h5 class="nk-title">Hello, I'm
                                    <span class="db hidden-sm-up"></span>
                                    <span class="nk-typed pl-8 pr-8 pt-5 pb-5 m-0 dib xs-pd0">
                                        <span>{{name}}</span>
                                        <span>{{intro1}}</span>
                                        <span>{{intro2}}</span>
                                    </span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-fullpage-item bg-black" >
                    <div>
                        <div class="container">
                          <div class="bg-center" style="background-image: url(assets/img/bg-sec.jpg);">
                            <div class="nk-portfolio-text-box bg-dark sec-1">
                                <h2 class="nk-portfolio-title h3"><a href="portfolio-single-1.html">About</a></h2>
                                <div class="nk-portfolio-links">{{saying}}</div>
                                <div class="nk-gap"></div>
                                <p class="xs-text-left" v-html="my_intro"></p>
                                <div class="nk-gap"></div>
                                <div class="text-dark-1">
                                    <a href="{{resume_link}}" target="_blank" class="nk-btn nk-btn-sm nk-btn-effect-2-right nk-btn-circle nk-btn-outline nk-btn-color-dark-4 mb-10 mr-8">
                                        <span>Blog</span>
                                        <span class="icon"><i class="ion-ios-arrow-right"></i></span>
                                    </a>
                                    <a href="{{github_link}}" target="_blank"  class="nk-btn nk-btn-sm nk-btn-effect-2-right nk-btn-circle nk-btn-outline nk-btn-color-dark-4 mb-10 mr-8">
                                        <span>Github</span>
                                        <span class="icon"><i class="ion-ios-arrow-right"></i></span>
                                    </a>
                                    <a href="{{issuu_link}}" target="_blank" class="nk-btn nk-btn-sm nk-btn-effect-2-right nk-btn-circle nk-btn-outline nk-btn-color-dark-4 mb-10 mr-8">
                                        <span>ISSUU <small>(2014-2018)</small></span>
                                        <span class="icon"><i class="ion-ios-arrow-right"></i></span>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="nk-portfolio-text-box bg-dark sec-2">
                                <div class="my-pic-style2" v-bind:style="{ backgroundImage: 'url(' + pic + ')' }" ></div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="nk-fullpage-item bg-black">
                    <div class="nk-carousel-3">
                        <div class="container">
                            <div class="nk-gap-3"></div>
                            <div class="nk-carousel-prev">
                                <div class="nk-carousel-arrow-name">
                                    
                                </div>
                                Previous
                                <span class="nk-icon-arrow-left"></span>
                            </div>
                            <div class="nk-carousel-next">
                                <div class="nk-carousel-arrow-name">
                                    
                                </div>
                                Next
                                <span class="nk-icon-arrow-right"></span>
                            </div>
                            <div class="nk-carousel-current">
                                <h3 class="nk-carousel-name h4">
                                    <
                                </h3>
                                <div class="nk-carousel-links"></div>
                            </div>
                            <div class="nk-gap-3"></div>
                        </div>

                        <div class="nk-carousel-inner bg-dark">
                            <div v-for="(id,work) in recent_works">
                                <div class="nk-image-box-1 nk-no-effect nk-portfolio-item">
                                    <a href="{{work.link}}" target="_blank" class="nk-image-box-link "></a>
                                    <img class="nk-portfolio-image"  :src="work.img">
                                    <h2 class="nk-portfolio-title nk-carousel-item-name"><a href="{{work.link}}" target="_blank" class="">Recent Works-{{id+1}}</a></h2>
                                    <div class="nk-portfolio-sub-title nk-carousel-item-links">{{work.type}} , {{work.date}}</div>
                                </div>
                            </div>
                          

                        </div>
                    </div>

                </div>

                <div class="nk-fullpage-item bg-black">
                    <div class="nk-carousel-3">
                        <div class="container">
                            <div class="nk-gap-3"></div>
                            <div class="nk-carousel-prev">
                                <div class="nk-carousel-arrow-name">
                                    
                                </div>
                                Previous
                                <span class="nk-icon-arrow-left"></span>
                            </div>
                            <div class="nk-carousel-next">
                                <div class="nk-carousel-arrow-name">
                                    
                                </div>
                                Next
                                <span class="nk-icon-arrow-right"></span>
                            </div>
                            <div class="nk-carousel-current">
                                <h3 class="nk-carousel-name h4">
                                    <
                                </h3>
                                <div class="nk-carousel-links"></div>
                            </div>
                            <div class="nk-gap-3"></div>
                        </div>

                        <div class="nk-carousel-inner bg-dark">
                            <div v-for="(id,work) in works">
                                <div class="nk-image-box-1 nk-no-effect nk-portfolio-item">
                                    <a href="{{work.link}}" target="_blank" class="nk-image-box-link"></a>
                                    <img class="nk-portfolio-image"  :src="work.img">
                                    <h2 class="nk-portfolio-title nk-carousel-item-name"><a href="{{work.link}}" target="_blank" class="">Works-{{id+1}}</a></h2>
                                    <div class="nk-portfolio-sub-title nk-carousel-item-links">{{work.type}} , {{work.date}}</div>
                                </div>
                            </div>
                          

                        </div>
                    </div>

                </div>
                

               
                </div>

            </div>
            <footer class="nk-footer nk-footer-parallax nk-footer-parallax-opacity">
                <div class="nk-copyright">
                    <div class="container text-center" v-html="copyright">
                        
                    </div>
                </div>
            </footer>

        </div>


        <div class="nk-side-buttons">
            <ul>
            
                <li>
                    <span class="nk-scroll-top">
                        <span class="ion-ios-arrow-up"></span>
                    </span>
                </li>
            </ul>
        </div>
    

    </div>

    <!-- GSAP -->
    <script src="assets/bower_components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="assets/bower_components/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/custom-vue.js"></script>
    <!-- Bootstrap -->
    <script src="assets/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Sticky Kit -->
    <script src="assets/bower_components/sticky-kit/dist/sticky-kit.min.js"></script>

    <!-- Jarallax -->
    <script src="assets/bower_components/jarallax/dist/jarallax.min.js"></script>
    <script src="assets/bower_components/jarallax/dist/jarallax-video.min.js"></script>

    <!-- imagesLoaded -->
    <script src="assets/bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>

    <!-- Flickity -->
    <script src="assets/bower_components/flickity/dist/flickity.pkgd.min.js"></script>

    <!-- Isotope -->
    <script src="assets/bower_components/isotope/dist/isotope.pkgd.min.js"></script>

    <!-- Photoswipe -->
    <script src="assets/bower_components/photoswipe/dist/photoswipe.min.js"></script>
    <script src="assets/bower_components/photoswipe/dist/photoswipe-ui-default.min.js"></script>

    <!-- Typed.js -->
    <script src="assets/bower_components/typed.js/dist/typed.min.js"></script>

    <!-- Jquery Form -->
    <script src="assets/bower_components/jquery-form/dist/jquery.form.min.js"></script>

    <!-- Jquery Validation -->
    <script src="assets/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>

    <!-- Jquery Countdown + Moment -->
    <script src="assets/bower_components/jquery.countdown/dist/jquery.countdown.min.js"></script>
    <script src="assets/bower_components/moment/min/moment.min.js"></script>
    <script src="assets/bower_components/moment-timezone/builds/moment-timezone-with-data.js"></script>

    <!-- Hammer.js -->
    <script src="assets/bower_components/hammer.js/hammer.min.js"></script>

    <!-- Social Likes -->
    <script src="assets/bower_components/social-likes/dist/social-likes.min.js"></script>

    <!-- NanoSroller -->
    <script src="assets/bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js"></script>

    <!-- SoundManager2 -->
    <script src="assets/bower_components/SoundManager2/script/soundmanager2-nodebug-jsmin.js"></script>

    <!-- DateTimePicker -->
    <script src="assets/bower_components/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>

    <!-- Keymaster -->
    <script src="assets/bower_components/keymaster/keymaster.js"></script>

    <!-- Revolution Slider -->
    <script type="text/javascript" src="assets/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="assets/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Prism -->
    <script src="assets/bower_components/prism/prism.js"></script>
        
    <!-- my -->
    
    <script src="assets/js/khaki.js"></script>
    <script src="assets/js/khaki-init.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- END: Scripts -->



</body>

</html>