<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="zh-TW">
<!--page default Information-->
<!--html head-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge,chrome=1">
    <title>pageTitle</title>
    <meta name="description" content="pageDesc">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
    <meta itemprop="name" content="pageTitle">
    <meta itemprop="description" content="pageDesc">
    <meta itemprop="image" content="images/fb-share.jpg">
    <meta property="og:title" content="pageTitle">
    <meta property="og:description" content="pageDesc">
    <meta property="og:type" content="article">
    <meta property="og:image" content="images/fb-share.jpg">
    <link rel="Shortcut Icon" type="images/x-icon" href="../images/fav.ico">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=BioRhyme&amp;display=swap" rel="stylesheet">
    <link href="static/slick.css" rel="stylesheet">
    <link href="static/slick-theme.css" rel="stylesheet">
    <link href="static/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<!--html body-->

<body>
    <div class="l-wrap" id="app" v-cloak>
        <div id="loading-part"></div>
        <div class="l-main">
            <section class="sample" id="el">
                <div class="sample__hd"></div>
                <div class="sample__bd"></div>
                <div class="sample__ft"></div>
                <section>
                    <div class="l-container">
                        <h2>{{initText}}</h2>
                        <div class="vue">
                            <form v-on:submit.prevent="signup">
                                <select v-model="selectOpt">
                                    <option v-for="obj in selectLists" :disabled="obj.value == ''" v-bind:value="obj.value">{{obj.text}}</option>
                                </select>
                                <p>select Val : {{selectOpt}}</p>
                                <button type="submit">submit</button>
                            </form>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="sample__content">
                        <div class="l-container">
                            <div class="l-vm">
                                <div class="l-vm__content">
                                    <h2>demo verticle</h2>
                                    <p>灰色區塊內垂直置中</p>
                                    <div class="sprite__demo"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="l-container">
                        <div class="mdDemo">
                            <h2>#jade scss example</h2>
                            <div>
                                <h3>##<span>Interpolation</span>by jade</h3>
                            </div>
                            <div>
                                <h3>##jade loop</h3>
                                <div class="row1">
                                    <p>row+1</p>
                                </div>
                                <div class="row2">
                                    <p>row+2</p>
                                </div>
                                <div class="row3">
                                    <p>row+3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!--render main view-->
        </div>
        <div class="l-footer footer" id="footer">
            <div class="l-container">
                <ul v-if="!isMb">
                    <li class="f1">
                        <p>展覽期間&nbsp;｜&nbsp;2019.12.21――2020.2.2&nbsp; </p>
                        <p> <span class="pc">｜ </span>&nbsp;平日<span class="mb">｜ </span>&nbsp;17:30――21:00&nbsp;</p>
                        <p> <span class="pc">｜ </span>&nbsp;假日 <span class="mb">｜</span>&nbsp;17:30――22:00</p>
                    </li>
                    <li class="f2">
                        <p>展出地點&nbsp;｜&nbsp;龍崎虎形山公園&nbsp;｜&nbsp;台南市龍崎區崎頂里</p>
                    </li>
                    <li class="f3">
                        <p>主辦單位&nbsp;｜&nbsp;<img class="pc" src="images/f1.png" alt="台南市政府文化局"><span class="mb">台南市政府文化局</span></p>
                        <p>協辦單位&nbsp;｜&nbsp;龍崎區公所</p>
                        <p>執行單位&nbsp;｜&nbsp;艸非火藝術</p>
                        <p>贊助單位 &nbsp;｜&nbsp; <img class="pc" src="images/f2.png" alt="皇龍建設"><img class="pc" src="images/f3.png" alt="龍崎文衡殿"><span class="mb">皇龍建設、龍崎文衡殿</span></p>
                    </li>
                    <li class="f4">
                        <p>© 2019 Longci Light Festival_Void Mountain. All Rights Reserved.</p>
                    </li>
                </ul>
                <ul v-if="isMb">
                    <li class="f1">
                        <p>展覽期間｜2019.12.21 <span class="arrow">＞</span> 2020.2.2</p>
                        <p>平日｜17:30 <span class="arrow a2">＞</span> 21:00</p>
                        <p>假日｜17:30 <span class="arrow a2">＞</span> 22:00</p>
                        <p>展出地點｜龍崎虎形山公園｜台南市龍崎區崎頂里</p>
                    </li>
                    <li class="f2">
                        <p>主辦單位｜台南市政府文化局 ／ 協辦單位｜龍崎區公所</p>
                        <p>執行單位｜艸非火藝術 ／ 贊助單位｜皇龍建設、龍崎文衡殿</p>
                    </li>
                    <li class="f3">
                        <p>© 2019 Longci Light Festival_void Mountain.<br>All Rights Reserved.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/x-template" id="comingsoon">
        <transition name="fade">
        <div class="comingsoon-main" v-if="comingsoon" key="comingsoon">
          <div class="comingsoon">
            <div class="comingsoon__box">
              <div class="comingsoon__hd">
                <h2 class="comingsoon__title"> <img src="images/title.png" alt=""></h2>
              </div>
              <div class="comingsoon__bd">
                <div class="counter"> 
                  <div class="days">
                    <div class="value">{{date.days || '00'}}</div><span>日</span>
                  </div>
                  <div class="hours">
                    <div class="value">{{date.hours || '00'}}</div><span>時</span>
                  </div>
                  <div class="minutes">
                    <div class="value">{{date.minutes || '00'}}</div><span>分</span>
                  </div>
                  <div class="seconds">
                    <div class="value">{{date.seconds || '00'}}</div><span>秒</span>
                  </div>
                </div>
                <p class="coming-text">coming soon</p>
              </div>
              <div class="comingsoon__fd">
                <div class="content">
                  <p class="info-title">第一次普渡就上手</p>
                  <p class="info-sub">還有萬元提貨券等你抽！</p><img class="pic" src="images/table.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/lib.js"></script>
    <script type="text/javascript" id="appjs" src="js/app.js?v=1576574449580" data-mode="false" data-site=""></script>
    <script src="js/sample.js?v=1576574449580"></script>
    <script type="text/javascript"></script>
</body>

</html>