<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="zh-TW">
<!--page default Information-->
<!--html head-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge,chrome=1">
    <title>pageTitle</title>
    <meta name="description" content="pageDesc">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
    <meta itemprop="name" content="pageTitle">
    <meta itemprop="description" content="pageDesc">
    <meta itemprop="image" content="指定顯示圖片">
    <meta property="og:title" content="pageTitle">
    <meta property="og:description" content="pageDesc">
    <meta property="og:type" content="article">
    <meta property="og:image" content="指定顯示圖片">
    <link rel="Shortcut Icon" type="images/x-icon" href="../images/fav.ico">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kameron&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<!--html body-->

<body>
    <div class="l-wrap" id="app" v-cloak>
        <div id="loading-part"></div>
        <div class="l-main">
            <section class="sample" id="el">
                <div class="sample__hd"></div>
                <div class="sample__bd"></div>
                <div class="sample__ft"></div>
                <section>
                    <div class="l-container">
                        <h2>{{initText}}</h2>
                        <div class="vue">
                            <form v-on:submit.prevent="signup">
                                <select v-model="selectOpt">
                                    <option v-for="obj in selectLists" :disabled="obj.value == ''" v-bind:value="obj.value">{{obj.text}}</option>
                                </select>
                                <p>select Val : {{selectOpt}}</p>
                                <button type="submit">submit</button>
                            </form>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="sample__content">
                        <div class="l-container">
                            <div class="l-vm">
                                <div class="l-vm__content">
                                    <h2>demo verticle</h2>
                                    <p>灰色區塊內垂直置中</p>
                                    <div class="sprite__demo"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="l-container">
                        <div class="mdDemo">
                            <h2>#jade scss example</h2>
                            <div>
                                <h3>##<span>Interpolation</span>by jade</h3>
                            </div>
                            <div>
                                <h3>##jade loop</h3>
                                <div class="row1">
                                    <p>row+1</p>
                                </div>
                                <div class="row2">
                                    <p>row+2</p>
                                </div>
                                <div class="row3">
                                    <p>row+3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!--render main view-->
        </div>
        <div class="l-footer footer">
            <div class="l-container">
                <p>Copyright © 2009-2019 The Clorox Company. All rights reserved.</p>
            </div>
        </div>
    </div>
    <script type="text/x-template" id="comingsoon">
        <transition name="fade">
        <div class="comingsoon-main" v-if="comingsoon" key="comingsoon">
          <div class="comingsoon">
            <div class="comingsoon__box">
              <div class="comingsoon__hd">
                <h2 class="comingsoon__title"> <img src="images/title.png" alt=""></h2>
              </div>
              <div class="comingsoon__bd">
                <div class="counter"> 
                  <div class="days">
                    <div class="value">{{date.days || '00'}}</div><span>日</span>
                  </div>
                  <div class="hours">
                    <div class="value">{{date.hours || '00'}}</div><span>時</span>
                  </div>
                  <div class="minutes">
                    <div class="value">{{date.minutes || '00'}}</div><span>分</span>
                  </div>
                  <div class="seconds">
                    <div class="value">{{date.seconds || '00'}}</div><span>秒</span>
                  </div>
                </div>
                <p class="coming-text">coming soon</p>
              </div>
              <div class="comingsoon__fd">
                <div class="content">
                  <p class="info-title">第一次普渡就上手</p>
                  <p class="info-sub">還有萬元提貨券等你抽！</p><img class="pic" src="images/table.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/lib.js"></script>
    <script type="text/javascript" id="appjs" src="js/app.js?v=1572790040457" data-mode="false" data-site=""></script>
    <script src="js/sample.js?v=1572790040457"></script>
    <script type="text/javascript"></script>
</body>

</html>