<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <meta
      name="keywords"
      content="痘痘雷射、AviClear、AviClear1726戰痘雷射、痘痘治療、痤瘡治療、粉刺治療、雷射治療痘痘、醫美痘痘治療、皮脂腺雷射、戰痘雷射、青春痘治療、反覆長痘、成人痘、醫師推薦痘痘治療、痘痘醫美療程、
皮脂過度分泌、控油雷射、控油抗痘、油痘困擾"
    />
    <meta
      name="description"
      content="AviClear1726戰痘雷射為劃時代創新控油抗痘治療技術，透過雷射精準作用皮脂腺，從根本改善油脂分泌及抑制痘痘生成。由專業醫師評估療程，幫助改善痤瘡、粉刺與反覆困擾油痘問題，打造長期穩定的健康膚況。"
    />
    <title>
      AviClear1726戰痘雷射｜醫師認證直擊皮脂腺雷射・改善痤瘡、粉刺、油痘肌
    </title>
    <meta itemprop="image" content="./assets/aviclear/share.jpg" />
    <meta
      property="og:title"
      content="AviClear1726戰痘雷射｜醫師認證直擊皮脂腺雷射・改善痤瘡、粉刺、油痘肌"
    />
    <meta
      property="og:description"
      content="AviClear1726戰痘雷射為劃時代創新控油抗痘治療技術，透過雷射精準作用皮脂腺，從根本改善油脂分泌及抑制痘痘生成。由專業醫師評估療程，幫助改善痤瘡、粉刺與反覆困擾油痘問題，打造長期穩定的健康膚況。"
    />
    <meta property="og:image" content="./assets/aviclear/share.jpg" />
    <link rel="shortcut icon" href="./assets/img/fav.ico" />
    <link rel="stylesheet" href="./assets/css/plugins.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/custom.css" />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KLDS9KDS");
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body class="onepage">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KLDS9KDS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="app">
      <nav>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link scroll" href="#kv1">認識戰痘雷射</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll" href="#kv3">最新消息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll" href="#clinic">認證診所</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll" href="#contact">索取資訊</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll" href="#kv1">TOP</a>
          </li>
        </ul>
      </nav>
      <div class="content-wrapper">
        <section id="kv1">
          <div class="wrapper position-relative">
            <div class="container position-relative">
              <div class="row position-relative">
                <div class="col-md-10 offset-md-1 position-relative">
                  <img
                    class="w-100 d-none d-lg-block"
                    src="./assets/aviclear/kv1.png"
                    alt="aviclear戰痘雷射，全球第一雙認證"
                    fetchpriority="high"
                    loading="eager"
                    decoding="async"
                  />
                </div>
                <div class="phone-video-outline d-none d-lg-block">
                  <div class="inner">
                    <div class="phone-img">
                      <img
                        class="w-100"
                        src="./assets/aviclear/phone.png"
                        alt=""
                      />
                    </div>
                    <div class="phone-video">
                      <video playsinline controls muted autoplay preload="none">
                        <source
                          src="./assets/aviclear/video.mp4"
                          type="video/mp4"
                        />
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img
              class="w-100 d-lg-none"
              src="./assets/aviclear/kv1-mb.png"
              alt="aviclear戰痘雷射，全球第一雙認證"
              fetchpriority="high"
              loading="eager"
              decoding="async"
            />
            <div class="phone-video-outline d-lg-none">
              <div class="inner">
                <div class="phone-img">
                  <img class="w-100" src="./assets/aviclear/phone.png" alt="" />
                </div>
                <div class="phone-video">
                  <video playsinline controls muted autoplay preload="none">
                    <source
                      src="./assets/aviclear/video.mp4"
                      type="video/mp4"
                    />
                  </video>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="kv3">
          <div class="wrapper">
            <div class="container py-5 py-md-12">
              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <!-- title -->
                  <div
                    class="clinic-header d-flex flex-row justify-content-center align-items-center my-4 mb-6"
                  >
                    <h2>最新消息</h2>
                  </div>
                  <div class="row gy-4">
                    <div class="col-md-4">
                      <div class="card lift">
                        <a
                          href="https://www.facebook.com/reel/2440171896435435"
                          target="_blank"
                        >
                          <img
                            class="card-img-top"
                            src="./assets/aviclear/n1.png"
                            alt="戰痘雷射aviclear"
                          />
                          <div class="card-body">
                            <div class="post-header">
                              <div class="post-category text-blue">
                                2026/02/12
                              </div>
                              <!-- /.post-category -->
                              <h4 class="post-title mt-1 two-line-ellipsis">
                                Cutera Collective
                                亞太領袖專家會議回顧｜聚焦亞洲膚況的痤瘡臨床交流
                              </h4>
                            </div>
                            <!-- /.post-header -->
                            <div class="post-content">
                              <p class="three-line-ellipsis text-ash mb-0">
                                橙締攜手台灣專家醫師前往曼谷，參與 Cutera
                                Collective
                                亞太領袖專家會議，與來自亞太地區及英國的醫學專家，展開以臨床實證為核心的深度交流。本次會議聚焦
                                AviClear 1726 nm
                                戰痘雷射，從亞洲膚質與膚況特性出發，重新檢視痤瘡病理機轉中，皮脂腺在痘痘反覆發作、慢性發炎與膚質改變中的關鍵角色。
                              </p>
                            </div>
                            <!-- /.post-content -->
                          </div>
                          <!--/.card-body -->
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card lift">
                        <a
                          href="https://cnews.com.tw/%E3%80%90%E6%9C%89%E5%BD%B1%E3%80%91%E6%93%BA%E8%84%AB%E9%9D%92%E6%98%A5%E7%97%98%E3%80%8C%E8%97%A5%E3%80%8D%E5%91%BD%E8%BC%AA%E8%BF%B4%E3%80%801726%E6%88%B0%E7%97%98%E9%9B%B7%E5%B0%84%E5%B8%B6/?fbclid=IwY2xjawQUzo5leHRuA2FlbQIxMQBzcnRjBmFwcF9pZBAyMjIwMzkxNzg4MjAwODkyAAEeX5-44nLpiyiL_aGwplz_kW1TH-hn9RZsElubBpWrkrE1eIh-Vr1obFby3M4_aem_ytbODWZhE87MaXAMHEweyg"
                          target="_blank"
                        >
                          <img
                            class="card-img-top"
                            src="./assets/aviclear/n2.jpg"
                            alt="戰痘雷射aviclear"
                          />
                          <div class="card-body">
                            <div class="post-header">
                              <div class="post-category text-blue">
                                2026/01/06
                              </div>
                              <!-- /.post-category -->
                              <h4 class="post-title mt-1 two-line-ellipsis">
                                跟著林政賢醫師 一起 擺脫青春痘「藥」命輪迴！
                              </h4>
                            </div>
                            <!-- /.post-header -->
                            <div class="post-content">
                              <p class="three-line-ellipsis text-ash mb-0">
                                根據皮膚科門診統計，青春痘（痤瘡）長期名列常見求診原因之首，尤其在青少年族群中更為普遍。嚴重痘痘不僅可能引發紅腫、疼痛與疤痕，也常對外觀與心理造成壓力。過往臨床治療多以口服抗生素或口服A酸控制病情，但部分患者因藥物副作用，或停藥後反覆復發，治療歷程往往充滿挫折。隨著醫療技術進展，「1726戰痘雷射」正式引進，非侵入性、免吃藥、根源管理，為患者帶來全新的治療方案。
                              </p>
                            </div>
                            <!-- /.post-content -->
                          </div>
                          <!--/.card-body -->
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card lift">
                        <a
                          href="https://cnews.com.tw/%e3%80%90%e6%9c%89%e5%bd%b1%e3%80%91%e4%ba%9e%e6%b4%b2%e7%9a%ae%e8%86%9a%e7%a7%91%e6%ac%8a%e5%a8%81%e9%bd%8a%e8%81%9a%e3%80%80%e8%81%9a%e7%84%a6%e7%be%8e%e5%9c%8bfda%e6%a0%b8%e5%8f%af1726%e6%88%b0/?fbclid=IwY2xjawQUzi1leHRuA2FlbQIxMQBzcnRjBmFwcF9pZBAyMjIwMzkxNzg4MjAwODkyAAEetEE9b38KeExImw-HdPYD6Z9ZBckM7EVjHeaC1jcQTa-tXFRs1YLT5wKJXZM_aem_eZux235q7HuTuREDjD-MkA"
                          target="_blank"
                        >
                          <img
                            class="card-img-top"
                            src="./assets/aviclear/n3.png"
                            alt="戰痘雷射aviclear"
                          />
                          <div class="card-body">
                            <div class="post-header">
                              <div class="post-category text-blue">
                                2026/01/06
                              </div>
                              <!-- /.post-category -->
                              <h4 class="post-title mt-1 two-line-ellipsis">
                                亞洲皮膚科權威齊聚　聚焦美國FDA核可1726戰痘雷射新突破
                              </h4>
                            </div>
                            <!-- /.post-header -->
                            <div class="post-content">
                              <p class="three-line-ellipsis text-ash mb-0">
                                痤瘡（青春痘）長期以來困擾著不少民眾，尤其對於反覆發作、難以控制的中重度患者而言，更是一條漫長而艱辛的治療之路。近日，多位亞洲皮膚科權威專家齊聚一堂，深入探討由專注光學醫療技術的美國大廠所研發、備受關注的劃時代科技—「1726戰痘雷射」。與會專家一致指出，該技術的問世象徵抗痘治療正式邁入全新階段，能從源頭精準處理皮脂腺過度分泌問題，為患者帶來有別於傳統口服藥物、更安全且具長效性的治療新選擇。
                              </p>
                            </div>
                            <!-- /.post-content -->
                          </div>
                          <!--/.card-body -->
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card lift">
                        <a
                          href="https://www.facebook.com/share/r/1AQGrG9Jqh/"
                          target="_blank"
                        >
                          <img
                            class="card-img-top"
                            src="./assets/aviclear/n4.png"
                            alt="戰痘雷射aviclear"
                          />
                          <div class="card-body">
                            <div class="post-header">
                              <div class="post-category text-blue">
                                2025/12/23
                              </div>
                              <!-- /.post-category -->
                              <h4 class="post-title mt-1 two-line-ellipsis">
                                AviClear戰痘雷射｜Sebum Era Forum
                              </h4>
                            </div>
                            <!-- /.post-header -->
                            <div class="post-content">
                              <p class="three-line-ellipsis text-ash mb-0">
                                以皮脂腺科學為核心出發，重新思考油脂與痘痘的長期管理方式。本次會議從皮脂腺病理機轉、臨床實證到實際操作經驗，不同觀點在論壇中交會，逐步勾勒出一條更清晰、可被實踐的痤瘡治療路徑。
                              </p>
                            </div>
                            <!-- /.post-content -->
                          </div>
                          <!--/.card-body -->
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card lift">
                        <a
                          href="https://tw.news.yahoo.com/%E6%9C%89%E5%BD%B1-%E9%9D%9E%E4%BE%B5%E5%85%A5%E5%BC%8F%E6%88%B0%E7%97%98%E6%8A%80%E8%A1%93%E7%9B%B4%E6%93%8A%E7%9A%AE%E8%84%82%E8%85%BA-1726nm%E9%9B%B7%E5%B0%84%E6%88%90%E6%96%B0%E6%B2%BB%E7%99%82%E8%B6%A8%E5%8B%A2-081415643.html"
                          target="_blank"
                        >
                          <img
                            class="card-img-top"
                            src="./assets/aviclear/n5.png"
                            alt="戰痘雷射aviclear"
                          />
                          <div class="card-body">
                            <div class="post-header">
                              <div class="post-category text-blue">
                                2025/12/10
                              </div>
                              <!-- /.post-category -->
                              <h4 class="post-title mt-1 two-line-ellipsis">
                                非侵入式戰痘技術直擊皮脂腺
                                1726nm雷射成新治療趨勢 許哲豪醫師報導
                              </h4>
                            </div>
                            <!-- /.post-header -->
                            <div class="post-content">
                              <p class="three-line-ellipsis text-ash mb-0">
                                青春痘困擾跨越不同年齡層，隨著醫療科技進步，臨床上近年開始運用雷射作為新的治療選項，其中，被稱為「戰痘雷射」的1726nm波長技術，能針對皮脂腺進行非侵入式作用。許哲豪皮膚科診所醫師許哲豪表示，青春痘（痤瘡）並非青少年的專利，從發病年齡下降到12歲，更擴大至30至40多歲的成年人，青春痘若發炎嚴重，不僅治療費時，更易留下難以消除的痘疤。
                              </p>
                            </div>
                            <!-- /.post-content -->
                          </div>
                          <!--/.card-body -->
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card lift">
                        <a
                          href="https://www.youtube.com/watch?v=vY9qP_sDF_U"
                          target="_blank"
                        >
                          <img
                            class="card-img-top"
                            src="./assets/aviclear/n6.png"
                            alt="戰痘雷射aviclear"
                          />
                          <div class="card-body">
                            <div class="post-header">
                              <div class="post-category text-blue">
                                2025/12/02
                              </div>
                              <!-- /.post-category -->
                              <h4 class="post-title mt-1 two-line-ellipsis">
                                直擊皮脂腺根源 戰痘黑科技快速告別痘痘肌
                                黃彥愷醫師報導
                              </h4>
                            </div>
                            <!-- /.post-header -->
                            <div class="post-content">
                              <p class="three-line-ellipsis text-ash mb-0">
                                青春痘困擾年齡層擴大，從青少年至中年甚至熟齡患者都有需求。若想要長期穩定肌膚狀況，從源頭的皮脂腺控制是重要關鍵。隨著醫學技術突破，創新1726戰痘雷射問世，以非侵入性、精準直擊皮脂腺的特性，為長期受痘痘困擾的族群提供革命性的解決方案，讓青春痘不再是臉上的未爆彈。
                              </p>
                            </div>
                            <!-- /.post-content -->
                          </div>
                          <!--/.card-body -->
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="clinic">
          <div class="wrapper">
            <div class="container">
              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <!-- title -->
                  <div
                    class="clinic-header d-flex flex-row justify-content-center align-items-center my-4"
                  >
                    <h1 class="logo">
                      <img
                        class="w-100"
                        src="./assets/aviclear/logo3.png"
                        alt="Aviclear戰痘雷射"
                      />
                    </h1>
                    <h2>認證診所</h2>
                  </div>
                  <!-- filter -->
                  <div class="row">
                    <div class="col-12">
                      <div class="clinic-bg rounded-top p-4 pb-10">
                        <div class="row gx-2">
                          <!-- 全部診所 -->
                          <div class="col-12 col-lg-2">
                            <button
                              class="btn btn-ash bg-main-gray w-100 mb-2 mb-lg-0"
                              @click="clearFilter"
                            >
                              全部診所
                            </button>
                          </div>
                          <!-- 搜尋診所 -->
                          <div class="col-12 col-lg-4">
                            <div class="form-floating mb-2 mb-lg-0">
                              <input
                                id="textInputExample"
                                type="text"
                                class="form-control"
                                placeholder="搜尋診所"
                                v-model="search"
                              />
                              <label for="textInputExample">搜尋診所</label>
                            </div>
                          </div>
                          <!-- 選擇地區 -->
                          <div class="col-6 col-lg-3">
                            <div class="form-select-wrapper mb-4">
                              <select
                                v-model="filterRegion"
                                @change="updateRegion"
                                class="form-select"
                                aria-label="選擇地區"
                              >
                                <option value="" selected>選擇地區</option>
                                <option v-for="region in regionList">
                                  {{region}}
                                </option>
                              </select>
                            </div>
                          </div>
                          <!-- 選擇縣市 -->
                          <div class="col-6 col-lg-3">
                            <div class="form-select-wrapper mb-4">
                              <select
                                v-model="filterCity"
                                @change="updateCity"
                                class="form-select"
                                aria-label="選擇縣市"
                              >
                                <option value="" selected>選擇縣市</option>
                                <option v-for="city in cityList">
                                  {{city}}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <template v-if="filteredClinicList.length > 0">
                              <div
                                class="card mb-2"
                                v-for="clinic in filteredClinicList"
                              >
                                <div class="card-body p-3">
                                  <div
                                    class="d-flex justify-content-between flex-column flex-lg-row"
                                  >
                                    <div
                                      class="left d-flex align-items-center flex-column flex-lg-row"
                                    >
                                      <span
                                        class="badge bg-main p-2 mb-1 mb-lg-0"
                                        >{{clinic.city}}</span
                                      >
                                      <span
                                        class="px-0 px-lg-2 fs-17 text-black-100"
                                        >{{clinic.name}}</span
                                      >
                                    </div>
                                    <div
                                      class="right d-flex align-items-center justify-content-between flex-column flex-lg-row fs-16 text-black-50"
                                    >
                                      <a
                                        class="link-dark"
                                        :href="clinic.link"
                                        target="_blank"
                                      >
                                        <span class="px-0 px-xl-2"
                                          >{{clinic.address}}</span
                                        >
                                      </a>
                                      <span>{{clinic.phone}}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </template>
                            <template v-else>
                              <p class="text-center my-4">
                                查無資料，請重新搜尋
                              </p>
                              <template v-if="filteredKeywordList.length > 0">
                                <p class="text-center my-4">
                                  您是否在找尋以下診所
                                </p>
                                <div
                                  class="card mb-2"
                                  v-for="clinic in filteredKeywordList"
                                >
                                  <div class="card-body p-3">
                                    <div
                                      class="d-flex justify-content-between flex-column flex-lg-row"
                                    >
                                      <div
                                        class="left d-flex align-items-center flex-column flex-lg-row"
                                      >
                                        <span
                                          class="badge bg-yellow p-2 mb-1 mb-lg-0"
                                          >{{clinic.city}}</span
                                        >
                                        <span
                                          class="px-0 px-lg-2 fs-17 text-black-100"
                                          >{{clinic.name}}</span
                                        >
                                      </div>
                                      <div
                                        class="right d-flex align-items-center justify-content-between flex-column flex-lg-row fs-16 text-black-50"
                                      >
                                        <a
                                          class="link-dark"
                                          :href="clinic.link"
                                          target="_blank"
                                        >
                                          <span class="px-0 px-xl-2"
                                            >{{clinic.address}}</span
                                          >
                                        </a>
                                        <span>{{clinic.phone}}</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </template>
                            </template>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="contact">
          <div class="wrapper">
            <div class="container">
              <div class="row mb-10">
                <div class="col-md-10 offset-md-1">
                  <div class="clinic-bg rounded-bottom p-4">
                    <div class="row justify-content-center align-items-center">
                      <!-- Title -->
                      <div class="col-12">
                        <div class="contact-header">
                          <h2
                            class="d-flex flex-row justify-content-center align-items-center mb-0"
                          >
                            <span>想要</span>
                            <div class="logo">
                              <img
                                class="w-100"
                                src="./assets/aviclear/logo.png"
                                alt="aviclear logo"
                              />
                            </div>
                            <span>認證診所資訊</span>
                          </h2>
                        </div>
                      </div>
                      <div class="col-sm-10">
                        <div
                          class="contact-header contact-header-content py-3 py-md-6"
                        >
                          <p class="mb-0">
                            為了方便您選定諮詢診所，請留下您想收到的診所區域，<br />我們會將您選定的區域內【AviClear戰鬥雷射認證診所】資訊發送到您的信箱，謝謝～
                          </p>
                          <div class="machine">
                            <img
                              class="w-100"
                              src="./assets/aviclear/product.png"
                              alt="aviclear product"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-4 col-lg-4 col-xl-3 col-xxl-3"></div>
                      <!-- IP + Form -->
                      <div class="col-sm-10">
                        <!-- <div class="position-relative">
                          <div class="ip-img">
                            <img
                              class="w-100"
                              src="./assets/aviclear/product.png"
                              alt="aviclear product"
                            />
                          </div>
                        </div> -->
                        <form
                          ref="contactForm"
                          :class="{'contact-form': true, 'was-validated': contact.wasValid}"
                          method="post"
                          action=""
                          novalidate
                          @submit.prevent="handleSendContact"
                        >
                          <div class="form-floating mb-4">
                            <input
                              id="form_name"
                              v-model="contact.name"
                              type="text"
                              name="name"
                              class="form-control"
                              required
                              data-error="Name is required."
                            />
                            <label for="form_name">姓名 *</label>
                          </div>
                          <div class="form-floating mb-4">
                            <input
                              id="form_phone"
                              v-model="contact.phone"
                              type="tel"
                              name="phone"
                              class="form-control"
                              required
                              data-error="Valid phone is required."
                            />
                            <label for="form_phone">電話 *</label>
                          </div>
                          <div class="form-floating mb-4">
                            <input
                              id="form_email"
                              v-model="contact.email"
                              type="email"
                              name="email"
                              class="form-control"
                              required
                              data-error="Valid email is required."
                            />
                            <label for="form_email">Email *</label>
                          </div>
                          <div class="form-floating mb-4">
                            <select
                              v-model="contact.address"
                              class="form-control"
                              aria-label="選擇地區"
                              name="address"
                              required
                            >
                              <option v-for="region in regionList">
                                {{region}}
                              </option>
                            </select>
                            <label for="form_address">診所區域 *</label>
                          </div>
                          <div class="col-12">
                            <div class="form-check mb-4">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="invalidCheck"
                                required
                              />
                              <label for="invalidCheck">
                                我願意收到AviClear的認證診所資訊，並同意AviClear遵照個資法相關規範處理應用及傳輸個人資訊，AviClear亦將依據法令保障參與者個人資料安全。
                              </label>
                            </div>
                          </div>
                          <div class="text-center">
                            <input
                              type="submit"
                              class="btn btn-blue bg-main btn-send mb-3"
                              :value="contact.loading ? '送出中...' : '確認送出'"
                            />
                          </div>
                        </form>
                        <!-- /form -->
                      </div>
                    </div>
                  </div>
                  <p class="text-white fs-12 text-center mt-4">
                    <b
                      >醫療行為具風險且效果因人而異，建議諮詢原廠認證之診所，<br
                        class="d-lg-none"
                      />由專業醫師評估以保障安全。<br
                        class="d-lg-none"
                      />衛部醫器輸字第 037345 號 | “酷特拉” 愛薇可雷射系統<br
                        class="d-lg-none"
                      />(“CUTERA” AviClear Laser System)</b
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script type="text/javascript" src="./assets/js/email.js"></script>
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/theme.js"></script>
    <script src="./assets/js/custom.js"></script>
  </body>
</html>
