<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="zh-TW">
<!--page default Information-->
<!--html head-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge,chrome=1">
    <title>掬月–最昂貴的品味</title>
    <meta name="description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
    <meta itemprop="name" content="掬月–最昂貴的品味">
    <meta itemprop="description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta itemprop="image" content="指定顯示圖片">
    <meta property="og:title" content="掬月–最昂貴的品味">
    <meta property="og:description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta property="og:type" content="article">
    <meta property="og:image" content="指定顯示圖片">
    <link rel="Shortcut Icon" type="images/x-icon" href="../images/fav.ico">
    <link rel="stylesheet" href="css/main.css">
</head>
<!--html body-->

<body>
    <div class="l-wrap" id="app">
        <div class="l-main">
            <section class="index">
                <div class="page about active">
                    <div class="control-bar"><a class="p-close" v-if="!hashType" href="main.html"></a></div>
                    <div class="about-layout" :class="'a'+hashType"><a class="logo2" href="main.html"><img src="images/logo2.png" alt="掬月 water moon">
                            <p>最昂貴的品味</p>
                        </a>
                        <div class="top-menu"> <a href="about.html#about-1">最昂貴的<br>品味,<br>不在城裡。</a><a href="about.html#about-2">最有資格<br>與山對話<br>的建築。</a><a href="about.html#about-3">安全隱密的<br>頂級社區。</a><a href="about.html#about-4">沒有建商<br>願意蓋的房子。</a><a href="about.html#about-5">現代極簡的<br>十五種面貌。</a><a href="about.html#about-6">連年得獎的<br>歐洲頂級工藝。</a><a href="about.html#about-7">挽袖掬月<br>的生活意境。</a>
                        </div>
                        <div class="about-area" v-if="hashType&gt;=1">
                            <div class="control-bar"><a class="p-close" href="about.html#about"></a></div>
                            <div class="a-block" v-if="hashType===1">
                                <h2 class="title">最昂貴的<br>品味,<br>不在城裡。</h2>
                                <div class="content">
                                    <div class="txt-block">
                                        <p>不要妥協於都市裡穿制服的群居式豪宅。</p>
                                        <p>要記得豪宅名字會在若干年後褪色，但好的住宅品味永遠都會存在。</p>
                                        <p>極少數在掬月公開前有幸造訪的人士，以及單憑口耳相傳就駕著超級跑車前來的神秘客人，他們還沒真正走進來，就已經被說服了。</p>
                                        <p>在這裡，你會看見建築美學要素：秩序、平衡、優雅。</p>
                                        <p>「掬月呈現的美學是純粹的」，美感的來源則是多樣性的；可能來自和諧的線條比例，來自光線水影的變換流動，來自鄰家小孩的一聲親切招呼，來自你沉靜的內心。這個房子可能性太多了。
                                        <p>你無須訝異掬月「直逼市區豪宅」的身價⋯</p>
                                        <p>見過他之後，你將會懂得我們為什麼要蓋它。</p>
                                    </div>
                                    <div class="img-block" :class="'bs'+hashType"></div>
                                </div>
                            </div>
                            <div class="a-block" v-if="hashType===2">
                                <h2 class="title">最有資格<br>與山對話<br>的建築。</h2>
                                <div class="content">
                                    <div class="txt-block">
                                        <p>身處在離台北市最近的一塊水源保護區，與近六萬九千公頃的自然景觀為鄰，光是這件事就已近乎特權。</p>
                                        <p>雪山山脈北稜脈十幾公里縱深的層巒與雲海，毫不吝嗇地以整面落地窗帶到你的眼前。從繁榮的都市景象轉為壯闊的山勢，只需不到二十分鐘的車程，這是東京及上海富豪難以想像的距離。波蘭女詩人辛波絲卡曾說：「不可預測的更為美麗。」掬月的View是一幅瞬息萬變的風景畫，你覺不願錯過任何一刻。</p>
                                        <p>都市的房子有具體的坪數尺度，而別墅的家，則是擁有山的一部份；在這裡，開放的空間和心境不會侷限在建築的框架之中，你能直接感受到空氣的流動和光的遊戲，探向窗外更能呼吸大量的芬多精。
                                        <p>在整個山上戶數極少的禾豐特區裡，僅有十五位幸運的掬月主人得以擁有。</p>
                                    </div>
                                    <div class="img-block" :class="'bs'+hashType"></div>
                                </div>
                            </div>
                            <div class="a-block" v-if="hashType===3">
                                <h2 class="title">安全隱密的<br>頂級社區。</h2>
                                <div class="content">
                                    <div class="txt-block">
                                        <p>「大台北華城」是國內第一個引進美國PUD整體開發概念的區域，尤其禾豐特區整地及基礎建設由日本國土開發營造執行，至今仍是台灣規劃最完善、最嚴謹的高級別墅區之一。</p>
                                        <p>「禾豐特區」居高臨下，是華城中戶數極少的頂級區塊，僅159戶與你共享這裡最好的視野；海拔390到500公尺，均溫比台北低二到三度，是台灣最適宜人居的氣候；再往裡走就是知名的貴族學校：「康橋雙語中小學」。轉進華城入口抵達這裡需通過三道警衛崗哨，長久以來都是社會菁英及企業主指名度極高的區域。不同於陽明山、天母，這裡屏除了觀光與商業活動的叨擾，有的只是大台北地區少見的寧靜與單純。</p>
                                    </div>
                                    <div class="img-block" :class="'bs'+hashType"></div>
                                </div>
                            </div>
                            <div class="a-block" v-if="hashType===4">
                                <h2 class="title">沒有建商<br>願意蓋的房子。</h2>
                                <div class="content">
                                    <div class="txt-block">
                                        <p>掬月是在Giovanni極度苛求的「地獄中打造天堂商品」。</p>
                                        <p>「掬月建設」的資深建築團隊為華城「秀岡山莊」的整體開發者；即使是這麼頂尖的團隊，所有事情仍需通過Giovanni挑惕的眼睛。每道長條窗他都親手畫圖確認，每塊石材為了完美拼接都有專屬的編號。怎樣的比例才能呈現優雅？清水摸要透出怎樣的光澤感才是恰到好處？這些一般建商老闆不會要求的細項，他都與團隊反覆推敲、檢討、調整，不到理想狀態絕不鬆手！</p>
                                        <p>「掬月」的戶外欄杆Giovanni總暱稱為’Barcode’，在德式精準的背後卻是異常折磨，當遇到上樓處，每片材質都必須從鋁換成不銹綱，才能呈現完美的四十五度斜切角。極簡大師密斯凡德羅說的對：「上帝就在細節裡。」</p>
                                    </div>
                                    <div class="img-block" :class="'bs'+hashType"></div>
                                </div>
                            </div>
                            <div class="a-block" v-if="hashType===5">
                                <h2 class="title">現代極簡的<br>十五種面貌。</h2>
                                <div class="content">
                                    <div class="txt-block">
                                        <p>「我覺得自己始終會被簡單純粹的線條所吸引。」掬月承襲了一貫的簡約風格：長條窗與實木格柵，在屋外畫出修長的比例關係，在室內流洩出間隔有序的光影，並且適時組阻隔外界的視線保有隱私；在面向山景的部分，則採用了最大尺度的落地窗。</p>
                                        <p>「掬月」是擁有十八年房地產經驗的美國「建高控股集團」在台灣的首件作品；它是Giovanni不計代價花費超過三年時間打造的頂級別墅，從設計到用料都是國內極少見的規格；它是收藏建築師簡約風格僅存的十五個機會。而這十五戶坪數與座向各異，更擁有迴然不同的房型：有上邊坡的城堡氣勢，室內電梯帶你三樓三停，還有宛若光盒子的玻璃升降梯由地下車庫直上庭園；也有順著山勢下坡由二樓直進的規劃，一進大門就是一片美景；每一戶掬月都展現了各自的特質，不與其他人重複。</p>
                                        <p>關於「掬月」的稀有性，您還有任何疑問嗎？</p>
                                    </div>
                                    <div class="img-block" :class="'bs'+hashType"></div>
                                </div>
                            </div>
                            <div class="a-block" v-if="hashType===6">
                                <h2 class="title">連年得獎的<br>歐洲頂級工藝。</h2>
                                <div class="content">
                                    <div class="txt-block">
                                        <p>走進家中，開放式的廚房裡配頂級的SieMatic或LEICHT原廠廚具，GAGGENAU的經典爐具你一定要捨得使用；樓上衛浴，DORN BRACHT的極品LULU手工龍頭、GROHE與擁有260年歷史的皇家衛浴瓷器Villeroy&Boch完美地搭配著，令人意外的驚喜更在一枚Subway男士小便斗，全都是德國名廠頂級配備，且為iF、red dot等設計大獎的常勝軍⋯</p>
                                        <p>不易看見的地方我們依然講究至極：最昂貴的義大利AluK歐陸窗，雙層玻璃內填充氬氣，維持室內舒適溫度又不易凝結水氣，不會讓你和巨幅風景間隔著一層霧；整面落地窗還能內倒內開，任你享受徐徐涼風。比利時Glaverbel玻璃抗紫外線Low-E玻璃，能保護你的肌膚及昂貴的手工傢俱⋯</p>
                                        <p>保持一切簡單俐落、讓機能說話，這樣的建築才會因思考性而顯出聰明；歐洲富豪就是這樣享受別墅裡的山居日子，您也該如此</p>
                                    </div>
                                    <div class="img-block" :class="'bs'+hashType"></div>
                                </div>
                            </div>
                            <div class="a-block" v-if="hashType===7">
                                <h2 class="title">挽袖掬月<br>的生活意境。</h2>
                                <div class="content">
                                    <div class="txt-block">
                                        <p>Giovanni年輕時很喜歡川端康成的作品，其中一本小說扉頁有這位文學大師的墨寶：「掬水月在手」。長久以來，他一直深深地為這詩句的意境著迷，所以將在台灣第一個建案作品命名為「掬月」。</p>
                                        <p>他以創作者的心情，實現了「挽袖掬月」的感性浪漫、講究每一處細節的理性構成；規劃了一棟最具個人色彩的城堡，為您邀請了陽光、空氣、水；層層山巒已準備好要上演磅礡的天幕劇；這裡的楓葉、油桐、杜鵑、吉野櫻、鳶尾花都等不及要綻放最美的姿態⋯。</p>
                                        <p>如果您是身處金字塔頂端的少數人，請大膽一點，要求更好的品味；請上山來，和我們聊聊關於美好生活的想像。</p>
                                        <p>我們衷心希望你有夠深的口袋能擁有「掬月」，更希望你瞭解它背後付出的一切心力並即時收藏它。</p>
                                    </div>
                                    <div class="img-block" :class="'bs'+hashType"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--render main view-->
        </div>
        <div class="l-footer footer active" :class="breadcrumbs===0?'thin':''">
            <div class="l-container">
                <div class="left">
                    <p v-if="breadcrumbs===0">聯絡掬月<a href="mailto:wm@wmoon.tw"> wm@wmoon.tw</a></p>
                    <div class="breadcrumb" v-if="breadcrumbs&gt;0" :class="'b' + breadcrumbs"><a class="first" href="main.html">首頁</a><span>＞</span>
                        <div class="menu">
                            <ul class="menu-list">
                                <li v-for="(item,index) in mData.menu_list" :class="breadcrumbs === item.breadcrumb ? 'active':''"><a @click="goPage(item.link)">{{item.title}}</a></li>
                            </ul>
                        </div>
                        <div class="second" v-if="hashType &amp;&amp; getSubMenu()"><span>＞</span><span class="active">{{getSubMenu().name}}</span></div>
                    </div>
                </div>
                <div class="right" v-if="breadcrumbs&gt;=0">
                    <p>預約接待 +886 2 22166 3000</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/lib.js"></script>
    <script type="text/javascript" id="appjs" src="js/app.js?v=1605768666677" data-mode="false" data-site=""></script>
    <script src="js/index.js?v=1605768666677"></script>
    <script type="text/javascript"></script>
</body>

</html>