<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="zh-TW">
<!--page default Information-->
<!--html head-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge,chrome=1">
    <title>掬月–最昂貴的品味</title>
    <meta name="description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
    <meta itemprop="name" content="掬月–最昂貴的品味">
    <meta itemprop="description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta itemprop="image" content="指定顯示圖片">
    <meta property="og:title" content="掬月–最昂貴的品味">
    <meta property="og:description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta property="og:type" content="article">
    <meta property="og:image" content="指定顯示圖片">
    <link rel="Shortcut Icon" type="images/x-icon" href="../images/fav.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<!--html body-->

<body>
    <div class="l-wrap" id="app">
        <div class="l-main">
            <section class="index">
                <div class="page advertising active">
                    <div class="advertising-main">
                        <div class="control-bar"><a class="p-close" href="main.html"></a></div>
                        <div class="logo2"> <img src="images/logo2.png" alt="掬月 water moon">
                            <p>最昂貴的品味</p>
                        </div>
                        <div class="content">
                            <div class="advertising-area" :class="status&lt;6?'active':''">
                                <div class="tvc" v-if="status===0"><img src="images/tvc/main.jpg" alt="掬月TVCF"></div>
                                <div class="video" v-if="status===1">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/1xRq2wvShrQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="video" v-if="status===2">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gJlSAT3QlTo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="video" v-if="status===3">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/fTPjWYcsDIs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="video" v-if="status===4">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/c3x7gq_dUUg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="video" v-if="status===5">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VdsjlfM5Tfg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="main-area">
                                <div class="tab1"><a @click="tvcf">TVCF</a><a @click="print">PRINT</a></div>
                                <div class="tab2" v-if="tvlist &amp;&amp; status&lt;6">
                                    <ul class="list">
                                        <li> <a @click="status=1" :class="status===1?'active':''">廢墟篇-30秒</a></li>
                                        <li> <a @click="status=2" :class="status===2?'active':''">廢墟篇-60秒</a></li>
                                        <li> <a @click="status=3" :class="status===3?'active':''">掬月篇-30秒 A</a></li>
                                        <li> <a @click="status=4" :class="status===4?'active':''">掬月篇-30秒 B</a></li>
                                        <li> <a @click="status=5" :class="status===5?'active':''">掬月篇-90秒</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="print-area" :class="status&gt;=6?'active':''">
                                <div class="print-slide">
                                    <div class="p-item">
                                        <div class="inner"><a class="p-img" href="images/tvc/print-01.jpg" target="_target"><img src="images/tvc/show-01.jpg" alt=""><span>美學教育終將失敗</span></a></div>
                                    </div>
                                    <div class="p-item">
                                        <div class="inner"><a class="p-img" href="images/tvc/print-02.jpg" target="_target"><img src="images/tvc/show-02.jpg" alt=""><span>一道建築題，兩個實踐者</span></a></div>
                                    </div>
                                    <div class="p-item">
                                        <div class="inner"><a class="p-img" href="images/tvc/print-03.jpg" target="_target"><img src="images/tvc/show-03.jpg" alt=""><span>要做，就做黑天鵝</span></a></div>
                                    </div>
                                    <div class="p-item">
                                        <div class="inner"><a class="p-img" href="images/tvc/print-04.jpg" target="_target"><img src="images/tvc/show-04.jpg" alt=""><span>藏在透明裡的建築學問</span></a></div>
                                    </div>
                                    <div class="p-item">
                                        <div class="inner"><a class="p-img" href="images/tvc/print-05.jpg" target="_target"><img src="images/tvc/show-05.jpg" alt=""><span>坐擁豪宅獨缺頂級別墅?</span></a></div>
                                    </div>
                                    <div class="p-item">
                                        <div class="inner"><a class="p-img" href="images/tvc/print-06.jpg" target="_target"><img src="images/tvc/show-06.jpg" alt=""><span>坐擁豪宅獨缺頂級別墅?</span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--render main view-->
        </div>
        <div class="l-footer footer active" :class="hashType?ft[breadcrumbs]:(ft[breadcrumbs]+' f-enter')">
            <div class="l-container">
                <div class="left">
                    <p v-if="breadcrumbs===0">聯絡掬月<a href="mailto:wm@wmoon.tw"> wm@wmoon.tw</a></p>
                    <div class="breadcrumb" v-if="breadcrumbs&gt;0" :class="'b' + breadcrumbs"><a class="first" href="main.html">首頁</a><span>＞</span>
                        <div class="menu">
                            <ul class="menu-list">
                                <li v-for="(item,index) in mData.menu_list" :class="breadcrumbs === item.breadcrumb ? 'active':''"><a @click="goPage(item.link)">{{item.title}}</a></li>
                            </ul>
                        </div>
                        <div class="second" v-if="hashType &amp;&amp; getSubMenu()"><span>＞</span><span class="active">{{getSubMenu().name}}</span></div>
                    </div>
                </div>
                <div class="right" v-if="breadcrumbs&gt;=0">
                    <p>預約接待 +886 2 22166 3000</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/lib.js"></script>
    <script type="text/javascript" id="appjs" src="js/app.js?v=1606153376476" data-mode="false" data-site=""></script>
    <script src="js/index.js?v=1606153376476"></script>
    <script type="text/javascript"></script>
</body>

</html>