<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="zh-TW">
<!--page default Information-->
<!--html head-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge,chrome=1">
    <title>掬月–最昂貴的品味</title>
    <meta name="description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
    <meta itemprop="name" content="掬月–最昂貴的品味">
    <meta itemprop="description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta itemprop="image" content="images/share-picture.png">
    <meta property="og:title" content="掬月–最昂貴的品味">
    <meta property="og:description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta property="og:type" content="article">
    <meta property="og:image" content="images/share-picture.png">
    <link rel="Shortcut Icon" type="images/x-icon" href="images/fav.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<!--html body-->

<body>
    <div class="l-wrap" id="app">
        <div class="l-main">
            <section class="index">
                <div class="page b38 active">
                    <div class="b38-main">
                        <div class="control-bar"><a class="p-close" href="main.html"></a></div>
                        <div class="logo2"> <img src="images/logo2.png" alt="掬月 water moon">
                            <p>最昂貴的品味</p>
                        </div>
                        <div class="content">
                            <div class="b38-slide">
                                <div class="b-item">
                                    <div class="letter-intro">
                                        <div class="title"><span class="e-name">好品味的現場實踐</span></div>
                                        <div class="txt-block">
                                            <p>這不是樣品屋，這是掬月的第一位擁有者，徐先生的家。</p>
                                            <p>而它是徐先生交給Giovanni打理的第二間住宅。可以想像兩人的友情之深篤，以及徐先生對第一個案子是多麼的滿意，才會將這裡包括裝潢、傢俱、乃至於搭配的一只Georg Jensen經典鴨子水瓶，都交給Giovanni全權決定。這是百分之百的信任，也是品味的契合。</p>
                                            <p>三年來，為了完成對好友的承諾、完成對美學的固執，Giovanni把這裡的每個細節，都當作自己家一樣嚴苛要求。在十五戶掬月別墅中，它被賦予的名字是「朔」：意指「月相的第一日，開始的，最初的」，我們希望，這是一種理想居住品味的起點。</p>
                                            <p>再次感謝旅居國外的徐先生首肯，讓一切拍攝工作得以完成。我們不僅羨慕徐先生能收藏掬月別墅，更嚮往這種慷慨的氣度。</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-item">
                                    <div class="gallery">
                                        <div class="link" @click="gOpen(index)" v-for="index in 11"> <img :src="'images/b38/img'+index+'-s.jpg'" alt="好品味的現場實踐 朔"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="show" :class="gShow?'active':''">
                                <div class="gpic-slide">
                                    <div class="gpic" v-for="i in 11"><img @click="gShow=false" :src="'images/b38/img'+i+'.jpg'" alt="好品味的現場實踐 朔"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--render main view-->
        </div>
        <div class="l-footer footer active" :class="hashType?ft[breadcrumbs]:(ft[breadcrumbs]+' f-enter')">
            <div class="l-container">
                <div class="left">
                    <p v-if="breadcrumbs===0">聯絡掬月<a href="mailto:wm@wmoon.tw"> wm@wmoon.tw</a></p>
                    <div class="breadcrumb" v-if="breadcrumbs&gt;0" :class="'b' + breadcrumbs"><a class="first" href="main.html">首頁</a><span>＞</span>
                        <div class="menu">
                            <ul class="menu-list">
                                <li v-for="(item,index) in mData.menu_list" :class="breadcrumbs === item.breadcrumb ? 'active':''"><a @click="goPage(item.link)">{{item.title}}</a></li>
                            </ul>
                        </div>
                        <div class="second" v-if="hashType &amp;&amp; getSubMenu()"><span>＞</span><span class="active">{{getSubMenu().name}}</span></div>
                    </div>
                </div>
                <div class="right" v-if="breadcrumbs&gt;=0">
                    <p>預約接待 +886 2 22166 3000</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/lib.js"></script>
    <script type="text/javascript" id="appjs" src="js/app.js?v=1606716249810" data-mode="false" data-site=""></script>
    <script src="js/index.js?v=1606716249810"></script>
    <script type="text/javascript"></script>
</body>

</html>