<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="zh-TW">
<!--page default Information-->
<!--html head-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge,chrome=1">
    <title>掬月–最昂貴的品味</title>
    <meta name="description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
    <meta itemprop="name" content="掬月–最昂貴的品味">
    <meta itemprop="description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta itemprop="image" content="指定顯示圖片">
    <meta property="og:title" content="掬月–最昂貴的品味">
    <meta property="og:description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta property="og:type" content="article">
    <meta property="og:image" content="指定顯示圖片">
    <link rel="Shortcut Icon" type="images/x-icon" href="../images/fav.ico">
    <link rel="stylesheet" href="css/main.css">
</head>
<!--html body-->

<body>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5W6ZPBT" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="l-wrap" id="app">
        <!-- render nav view-->
        <div class="l-fb">
            <div class="l-container">
                <div class="fb-box">
                    <div class="fb-like" data-href="#" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"> </div>
                </div>
            </div>
        </div>
        <div class="l-main">
            <section class="index" v-if="mData">
                <div class="page enter-page" v-if="step===''" :class="step===''?'active':''"><a class="logo" href="#main">
                        <div class="top"> <img src="images/logo-top.png" alt="掬月"></div>
                        <div class="bottom"> <img src="images/logo-bottom.png" alt="water moon"></div>
                    </a>
                    <div class="lines">
                        <div class="line1"><img src="images/line1.png" alt=""></div>
                        <div class="line2"> <img src="images/line2.png" alt=""></div>
                        <div class="line3"> <img src="images/line3.png" alt=""></div>
                        <div class="line4"> <img src="images/line4.png" alt=""></div>
                    </div>
                </div>
                <div class="page main-page" v-if="step==='#main'" :class="step==='#main'?'active':''">
                    <div class="logo2"> <img src="images/logo2.png" alt="掬月 water moon"></div>
                    <div class="menu-list"><a class="item" v-for="(item,index) in mData.menu_list" :href="item.link" :class="'a'+(index+1)">
                            <div class="txt">
                                <p v-if="index!==4 &amp; index!==5">{{item.title}}</p>
                                <p v-if="index===4">掬月 <span>A<br>to<br>Z</span></p>
                                <p v-if="index===5"><span>15</span>席頂級別墅</p>
                            </div>
                            <div class="img"> <img :src="'images/main/a'+ (index+1) +'.jpg'" alt=""></div>
                        </a></div>
                </div>
                <div class="page thought" v-if="step==='#thought'" :class="step==='#thought'?'active':''">
                    <div class="control-bar"><a class="p-close" href="#main"></a></div>
                    <div class="content-layout">
                        <div class="left-sidebar" :class="'l-'+status">
                            <ul class="list">
                                <li v-for="(item,index) in mData.happen_list" :class="status===(index+1)?'active':''"><a @click="status=(index+1)" v-html="item.title"> </a></li>
                            </ul>
                        </div>
                        <div class="middle-content">
                            <div class="part" v-if="status===0">
                                <div class="inner">
                                    <div class="img"> <img src="images/t1.png" alt=""></div>
                                </div>
                            </div>
                            <div class="part" v-for="(item,index) in mData.happen_list" v-if="status===(index+1)" :class="status===(index+1)?'active':''">
                                <div class="inner">
                                    <div class="inner-content" v-html="item.content"></div>
                                </div>
                            </div>
                        </div>
                        <div class="right-brand">
                            <div class="logo"> <img src="images/logo2.png" alt=""></div>
                            <h3>Make it happen.</h3>
                        </div>
                    </div>
                </div>
                <div class="page thought" v-if="step==='#pursuit'" :class="step==='#pursuit'?'active':''">
                    <div class="control-bar"><a class="p-close" href="#main"></a></div>
                    <div class="content-layout">
                        <div class="left-sidebar" :class="'l-'+status">
                            <ul class="list">
                                <li v-for="(item,index) in mData.pursuit_list" :class="status===(index+1)?'active':''"><a @click="status=(index+1)" v-html="item.title"> </a></li>
                            </ul>
                        </div>
                        <div class="middle-content">
                            <div class="part" v-if="status===0">
                                <div class="inner">
                                    <div class="img"> <img src="images/t2.png" alt=""></div>
                                    <p>謹在這裡感謝投資人、團隊與協力廠商對我的容忍與配合。我們把所有最挑剔的品味獻給了極少數真正懂得掬月的人。</p>
                                    <p>- 全文．掬月建設 董事長 趙鴻鵬 -</p>
                                </div>
                            </div>
                            <div class="part" v-for="(item,index) in mData.pursuit_list" v-if="status===(index+1)" :class="status===(index+1)?'active':''">
                                <div class="inner">
                                    <div class="inner-content" v-html="item.content"></div>
                                </div>
                            </div>
                        </div>
                        <div class="right-brand">
                            <div class="logo"> <img src="images/logo2.png" alt=""></div>
                            <h3>掬月，追求理想的執念</h3>
                        </div>
                    </div>
                </div>
                <div class="page thought relations" v-if="step==='#relations'" :class="step==='#relations'?'active':''">
                    <div class="control-bar"><a class="p-close" href="#main"></a></div>
                    <div class="content-layout">
                        <div class="left-sidebar" :class="'l-'+(status+1)">
                            <ul class="list">
                                <li v-for="(item,index) in mData.relations_list" :class="status===index?'active':''"><a @click="status=index" v-html="item.title"> </a></li>
                            </ul>
                        </div>
                        <div class="middle-content">
                            <div class="part" v-for="(item,index) in mData.relations_list" v-if="status===index" :class="status===index?'active':''">
                                <div class="inner">
                                    <div class="inner-content" v-html="item.content"></div>
                                </div>
                            </div>
                        </div>
                        <div class="right-brand">
                            <div class="logo"> <img src="images/logo2.png" alt=""></div>
                            <h3>掬月建設關係企業</h3>
                        </div>
                    </div>
                </div>
                <div class="page atoz" v-if="step==='#atoz'" :class="step==='#atoz'?'active':''">
                    <div class="atoz-enter" v-if="!atype">
                        <div class="control-bar"><a class="p-close" href="#main"></a></div>
                        <div class="logo2"> <img src="images/logo2.png" alt="掬月 water moon"></div>
                        <div class="letters"><a class="letter" v-for="(obj,key) in mData.atoz_list" :href="'#atoz-'+key" :class="'l'+key">{{key.toUpperCase()}}</a></div>
                    </div>
                    <div class="atoz-main" v-if="atype">
                        <div class="control-bar"><a class="p-pre" :href="pagePre()"></a><a class="p-close" href="#atoz"></a><a class="p-next" :href="pageNext()"></a></div>
                        <div class="logo2"> <img src="images/logo2.png" alt="掬月 water moon">
                            <p>最昂貴的品味</p>
                        </div>
                        <div class="content">
                            <div class="atoz-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="title"><span class="e-name">{{mData.atoz_list[atype].title}} </span><span class="c-name">{{mData.atoz_list[atype].chinese_title}}</span></div>
                                        <div class="txt-block">
                                            <p v-for="item in mData.atoz_list[atype].content">{{item}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="s-item" v-for="item in mData.atoz_list[atype].imgs">
                                    <div class="img"><img :src="'images/atoz/' + item" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page villas" v-if="step==='#villas'" :class="step==='#villas'?'active':''">
                    <div class="villas-enter" v-if="!atype">
                        <div class="control-bar"><a class="p-close" href="#main"></a></div>
                        <div class="logo2"> <img src="images/logo2.png" alt="掬月 water moon"></div>
                        <div class="villas-group"> <a class="villa" v-for="(item,index) in mData.villas_list" :class="'v'+ (index+1)" :href="'#villas-'+(index+1)">
                                <div class="icon"> </div>
                                <p>{{item.name}}</p>
                            </a></div>
                    </div>
                    <div class="villas-main" v-if="atype">
                        <div class="control-bar"><a class="p-pre" :href="pagePre()"></a><a class="p-close" href="#villas"></a><a class="p-next" :href="pageNext()"></a></div>
                        <div class="logo2"> <img src="images/logo2.png" alt="掬月 water moon">
                            <p>最昂貴的品味</p>
                        </div>
                        <div class="content">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>{{mData.villas_list[atype-1].name}} </h2>
                                            <p v-html="mData.villas_list[atype-1].slogan"></p>
                                            <ul>
                                                <li v-for="item in mData.villas_list[atype-1].content">{{item}}</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page about" v-if="step.includes('#about')" :class="step.includes('#about')?'active':''">
                    <div class="control-bar"><a class="p-close" v-if="!atype" href="#main"></a></div>
                    <div class="about-layout" :class="'a'+atype">
                        <div class="logo2"> <img src="images/logo2.png" alt="掬月 water moon">
                            <p>最昂貴的品味</p>
                        </div>
                        <div class="top-menu"> <a v-for="(item,index) in mData.about_list" :href="'#about-'+ (index+1)" v-html="item.title"></a></div>
                        <div class="about-area" v-if="atype&gt;=1">
                            <div class="control-bar"><a class="p-close" href="#about"></a></div>
                            <h2 class="title" v-html="mData.about_list[atype-1].title"></h2>
                            <div class="content">
                                <div class="txt-block" v-html="mData.about_list[atype-1].content"></div>
                                <div class="img-block" :class="'bs'+atype"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page advertising" v-if="step==='#advertising'" :class="step==='#advertising'?'active':''">
                    <div class="advertising-main">
                        <div class="control-bar"><a class="p-close" href="#main"></a></div>
                        <div class="logo2"> <img src="images/logo2.png" alt="掬月 water moon">
                            <p>最昂貴的品味</p>
                        </div>
                        <div class="content">
                            <div class="advertising-area" :class="status&lt;6?'active':''">
                                <div class="tvc" v-if="status===0"><img src="images/tvc/main.jpg" alt="掬月TVCF"></div>
                                <div class="video" v-if="status&gt;0 &amp;&amp; status&lt;6">
                                    <iframe width="560" height="315" :src="mData.advertising_list.tvc[status-1].link" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="main-area">
                                <div class="tab1"><a @click="tvcf">TVCF</a><a @click="print">PRINT</a></div>
                                <div class="tab2" v-if="tvlist &amp;&amp; status&lt;6">
                                    <ul class="list">
                                        <li v-for="(item,index) in mData.advertising_list.tvc"> <a @click="status=(index+1)" :class="status===(index+1)?'active':''">{{item.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="print-area" :class="status&gt;=6?'active':''">
                                <div class="print-slide">
                                    <div class="p-item" v-for="index in 6">
                                        <div class="inner"><a class="p-img" :href="'images/tvc/print-0'+ index +'.jpg'" target="_target"><img :src="'images/tvc/show-0'+ index +'.jpg'" alt=""><span>{{mData.advertising_list.print[index-1]}}</span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page b38" v-if="step==='#b38'" :class="step==='#b38'?'active':''">
                    <div class="b38-main">
                        <div class="control-bar"><a class="p-close" href="#main"></a></div>
                        <div class="logo2"> <img src="images/logo2.png" alt="掬月 water moon">
                            <p>最昂貴的品味</p>
                        </div>
                        <div class="content">
                            <div class="b38-slide">
                                <div class="b-item">
                                    <div class="letter-intro">
                                        <div class="title"><span class="e-name">好品味的現場實踐</span></div>
                                        <div class="txt-block">
                                            <p>這不是樣品屋，這是掬月的第一位擁有者，徐先生的家。</p>
                                            <p>而它是徐先生交給Giovanni打理的第二間住宅。可以想像兩人的友情之深篤，以及徐先生對第一個案子是多麼的滿意，才會將這裡包括裝潢、傢俱、乃至於搭配的一只Georg Jensen經典鴨子水瓶，都交給Giovanni全權決定。這是百分之百的信任，也是品味的契合。</p>
                                            <p>三年來，為了完成對好友的承諾、完成對美學的固執，Giovanni把這裡的每個細節，都當作自己家一樣嚴苛要求。在十五戶掬月別墅中，它被賦予的名字是「朔」：意指「月相的第一日，開始的，最初的」，我們希望，這是一種理想居住品味的起點。</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-item">
                                    <div class="gallery"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--render main view-->
        </div>
        <div class="l-footer footer">
            <div class="l-container">
                <div class="left">
                    <p v-if="breadcrumbs===0">聯絡掬月<a href="mailto:wm@wmoon.tw"> wm@wmoon.tw</a></p>
                    <div class="breadcrumb" v-if="breadcrumbs&gt;0" :class="'b' + breadcrumbs"><a class="first" href="#main">首頁</a><span>＞</span>
                        <div class="menu">
                            <ul class="menu-list">
                                <li v-for="(item,index) in mData.menu_list" :class="breadcrumbs === item.breadcrumb ? 'active':''"><a :href="item.link">{{item.title}}</a></li>
                            </ul>
                        </div>
                        <div class="second" v-if="atype &amp;&amp; getSubMenu()"><span>＞</span><span class="active">{{getSubMenu().name}}</span></div>
                    </div>
                </div>
                <div class="right">
                    <p>預約接待 +886 2 22166 3000</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/x-template" id="comingsoon">
        <transition name="fade">
        <div class="comingsoon-main" v-if="openCome &amp;&amp; open" key="comingsoon">
          <div class="comingsoon">
            <div class="comingsoon__box">
              <div class="comingsoon__hd">
                <h2 class="comingsoon__title"> 
                  <p>Coming soon...</p>
                </h2>
              </div>
              <div class="comingsoon__bd">
                <div class="counter"> 
                  <div class="days">
                    <div class="value">{{date.days || '00'}}</div><span>日</span>
                  </div>
                  <div class="hours">
                    <div class="value">{{date.hours || '00'}}</div><span>時</span>
                  </div>
                  <div class="minutes">
                    <div class="value">{{date.minutes || '00'}}</div><span>分</span>
                  </div>
                  <div class="seconds">
                    <div class="value">{{date.seconds || '00'}}</div><span>秒</span>
                  </div>
                </div>
                <p class="coming-text">coming soon</p>
              </div>
              <div class="comingsoon__fd">
                <div class="content"></div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>
    <script type="text/x-template" id="lotteryBackfill">
        <div class="content">
        <h2>樂透回填</h2>
        <form class="form" @submit.prevent="postback">
          <ul>
            <li class="head">
              <div class="mobile">
                <p><span>手機號碼 :</span>{{mobile}}</p>
              </div>
              <div class="ticket" v-if="type=='Invoice'">
                <p><span>發票號碼 :</span>{{invNumber}}</p>
              </div>
              <div class="fb" v-if="type=='FB'">
                <transition name="fade">
                  <div class="fblogin" @click="fbLogin" v-if="!fblogin">登入FB</div>
                  <p v-if="fblogin"><i><img :src="fbData.fbPic" v-if="fblogin"></i>{{fbData.fbName}}</p>
                </transition>
              </div>
            </li>
            <li>
              <p><span>獎品名稱 :</span>{{awardItem}}</p>
            </li>
            <li>
              <label for="name">收件人</label>
              <input id="name" type="text" placeholder="請輸入收件人姓名" maxlength="50" v-model="name">
            </li>
            <li>
              <label for="address">地　址</label>
              <input id="address" type="text" placeholder="請輸入收件人收址" maxlength="50" v-model="address">
            </li>
            <li v-if="paper"><a :href="paper.path" download>
                <p>{{paper.awardName}}</p></a></li>
            <li>
              <h3>電子檔照片上傳</h3>
              <ul class="pictures">
                <li v-if="type=='Invoice'">
                  <label for="certificate"> </label>
                  <div class="preview" id="certificatepre">
                    <p>發票正本</p><img :src="imageShow.CertificatePhoto" v-if="imageShow.CertificatePhoto">
                  </div>
                  <input id="certificate" type="file" accept="image/*" @change="readpoto">
                </li>
              </ul>
            </li>
            <li class="agree">
              <input id="agree" type="checkbox" v-model="agree">
              <label for="agree">我已詳閱活動辦法和個資法相關聲明。</label>
            </li>
          </ul>
          <div class="btnarea">
            <div class="btnsend">
              <button type="submit" v-if="!loading" gtm-data="發票登錄_送出">資訊送出</button>
              <div class="loading" v-if="loading"><img src="images/loading.gif" alt=""></div>
            </div>
          </div>
        </form>
      </div>
    </script>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/lib.js"></script>
    <script type="text/javascript" id="appjs" src="js/app.js?v=1603878193813" data-mode="false" data-site="https://cmpnapi.friendo.com.tw/api/"></script>
    <script src="js/index.js?v=1603878193813"></script>
    <script type="text/javascript"></script>
</body>

</html>