<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="zh-TW">
<!--page default Information-->
<!--html head-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge,chrome=1">
    <title>掬月–最昂貴的品味</title>
    <meta name="description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
    <meta itemprop="name" content="掬月–最昂貴的品味">
    <meta itemprop="description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta itemprop="image" content="指定顯示圖片">
    <meta property="og:title" content="掬月–最昂貴的品味">
    <meta property="og:description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta property="og:type" content="article">
    <meta property="og:image" content="指定顯示圖片">
    <link rel="Shortcut Icon" type="images/x-icon" href="../images/fav.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<!--html body-->

<body>
    <div class="l-wrap" id="app">
        <div class="l-main">
            <section class="index">
                <div class="page main-page active">
                    <div class="logo2"> <img src="images/logo2.png" alt="掬月 water moon"></div>
                    <div class="menu-list"><a class="item a1" href="vision.html">
                            <div class="txt">
                                <p>Make it happen.</p>
                            </div>
                            <div class="img"> <img src="images/main/a1.jpg" alt=""></div>
                        </a><a class="item a2" href="philosophy.html">
                            <div class="txt">
                                <p>掬月<label>，<label />追求理想的執念</p>
                            </div>
                            <div class="img"> <img src="images/main/a2.jpg" alt=""></div>
                        </a><a class="item a3" href="affiliated-company.html">
                            <div class="txt">
                                <p>掬月建設關係企業</p>
                            </div>
                            <div class="img"> <img src="images/main/a3.jpg" alt=""></div>
                        </a><a class="item a4" href="about.html">
                            <div class="txt">
                                <p>關於掬月別墅</p>
                            </div>
                            <div class="img"> <img src="images/main/a4.jpg" alt=""></div>
                        </a><a class="item a5" href="atoz.html">
                            <div class="txt">
                                <p>掬月 <span>A<br>to<br>Z</span></p>
                            </div>
                            <div class="img"> <img src="images/main/a5.jpg" alt=""></div>
                        </a><a class="item a6" href="villas.html">
                            <div class="txt">
                                <p><span>15</span>席頂級別墅</p>
                            </div>
                            <div class="img"> <img src="images/main/a6.jpg" alt=""></div>
                        </a><a class="item a7" href="b38.html">
                            <div class="txt">
                                <p>好品味的現場實踐 朔</p>
                            </div>
                            <div class="img"> <img src="images/main/a7.jpg" alt=""></div>
                        </a><a class="item a8" href="advertising.html">
                            <div class="txt">
                                <p>掬月廣告</p>
                            </div>
                            <div class="img"> <img src="images/main/a8.jpg" alt=""></div>
                        </a>
                    </div>
                </div>
            </section>
            <!--render main view-->
        </div>
        <div class="l-footer footer active" :class="hashType?ft[breadcrumbs]:(ft[breadcrumbs]+' f-enter')">
            <div class="l-container">
                <div class="left">
                    <p v-if="breadcrumbs===0">聯絡掬月<a href="mailto:wm@wmoon.tw"> wm@wmoon.tw</a></p>
                    <div class="breadcrumb" v-if="breadcrumbs&gt;0" :class="'b' + breadcrumbs"><a class="first" href="main.html">首頁</a><span>＞</span>
                        <div class="menu">
                            <ul class="menu-list">
                                <li v-for="(item,index) in mData.menu_list" :class="breadcrumbs === item.breadcrumb ? 'active':''"><a @click="goPage(item.link)">{{item.title}}</a></li>
                            </ul>
                        </div>
                        <div class="second" v-if="hashType &amp;&amp; getSubMenu()"><span>＞</span><span class="active">{{getSubMenu().name}}</span></div>
                    </div>
                </div>
                <div class="right" v-if="breadcrumbs&gt;=0">
                    <p>預約接待 +886 2 22166 3000</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/lib.js"></script>
    <script type="text/javascript" id="appjs" src="js/app.js?v=1606206002445" data-mode="false" data-site=""></script>
    <script src="js/index.js?v=1606206002445"></script>
    <script type="text/javascript"></script>
</body>

</html>