<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="zh-TW">
<!--page default Information-->
<!--html head-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge,chrome=1">
    <title>掬月–最昂貴的品味</title>
    <meta name="description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
    <meta itemprop="name" content="掬月–最昂貴的品味">
    <meta itemprop="description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta itemprop="image" content="指定顯示圖片">
    <meta property="og:title" content="掬月–最昂貴的品味">
    <meta property="og:description" content="十五種姿態迥然的美學，只獻給十五位挑剔的主人">
    <meta property="og:type" content="article">
    <meta property="og:image" content="指定顯示圖片">
    <link rel="Shortcut Icon" type="images/x-icon" href="../images/fav.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<!--html body-->

<body>
    <div class="l-wrap" id="app">
        <div class="l-main">
            <section class="index">
                <div class="page villas active">
                    <div class="villas-enter" v-if="!hashType">
                        <div class="control-bar"><a class="p-close" href="main.html"></a></div>
                        <div class="logo2"> <img src="images/logo2.png" alt="掬月 water moon"></div>
                        <div class="villas-group"> <a class="villa v1" href="#villas-1">
                                <div class="icon"> </div>
                                <p>朔</p>
                            </a><a class="villa v2" href="#villas-2">
                                <div class="icon"> </div>
                                <p>弦</p>
                            </a><a class="villa v3" href="#villas-3">
                                <div class="icon"> </div>
                                <p>望</p>
                            </a><a class="villa v4" href="#villas-4">
                                <div class="icon"> </div>
                                <p>盈</p>
                            </a><a class="villa v5" href="#villas-5">
                                <div class="icon"> </div>
                                <p>曉</p>
                            </a><a class="villa v6" href="#villas-6">
                                <div class="icon"> </div>
                                <p>晌</p>
                            </a><a class="villa v7" href="#villas-7">
                                <div class="icon"> </div>
                                <p>沐</p>
                            </a><a class="villa v8" href="#villas-8">
                                <div class="icon"> </div>
                                <p>漾</p>
                            </a><a class="villa v9" href="#villas-9">
                                <div class="icon"> </div>
                                <p>霽</p>
                            </a><a class="villa v10" href="#villas-10">
                                <div class="icon"> </div>
                                <p>霏</p>
                            </a><a class="villa v11" href="#villas-11">
                                <div class="icon"> </div>
                                <p>朗</p>
                            </a><a class="villa v12" href="#villas-12">
                                <div class="icon"> </div>
                                <p>櫻</p>
                            </a><a class="villa v13" href="#villas-13">
                                <div class="icon"> </div>
                                <p>桐</p>
                            </a><a class="villa v14" href="#villas-14">
                                <div class="icon"> </div>
                                <p>樺</p>
                            </a><a class="villa v15" href="#villas-15">
                                <div class="icon"> </div>
                                <p>嵐</p>
                            </a>
                        </div>
                    </div>
                    <div class="villas-main" v-if="hashType" :class="hashType?'active':''">
                        <div class="control-bar"><a class="p-pre" :href="pagePre()"></a><a class="p-close" href="villas.html"></a><a class="p-next" :href="pageNext()"></a></div>
                        <div class="logo2"> <img src="images/logo2.png" alt="掬月 water moon">
                            <p>最昂貴的品味</p>
                        </div>
                        <div class="content" v-if="hashType===1" :class="hashType===1?'active':''">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>朔</h2>
                                            <p>月相的第一日、開始的、最初的。</p>
                                            <ul>
                                                <li>B-38</li>
                                                <li>土地面積：144.26坪</li>
                                                <li>建物面積：104.26坪</li>
                                                <li>建物樓層：3層</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <img src="images/villas/v1-1.jpg" alt=""><span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">正向立面圖</p>
                                    <div class="img"><img src="images/villas/v1-2.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">背向立面圖</p>
                                    <div class="img"><img src="images/villas/v1-3.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">右向立面圖</p>
                                    <div class="img"><img src="images/villas/v1-4.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">左向立面圖</p>
                                    <div class="img"><img src="images/villas/v1-5.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">一樓平面圖</p>
                                    <div class="img"><img src="images/villas/v1-6.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">二樓平面圖</p>
                                    <div class="img"><img src="images/villas/v1-7.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">三樓平面圖</p>
                                    <div class="img"><img src="images/villas/v1-8.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">屋頂平面圖</p>
                                    <div class="img"><img src="images/villas/v1-9.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="content" v-if="hashType===2" :class="hashType===2?'active':''">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>弦</h2>
                                            <p>半圓形的月亮。<br>張於樂器上的絲、線。</p>
                                            <ul>
                                                <li>B-40</li>
                                                <li>土地面積：158.72坪</li>
                                                <li>建物面積：123.52坪</li>
                                                <li>建物樓層：3層</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <img src="images/villas/v2-1.jpg" alt=""><span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">正向立面圖</p>
                                    <div class="img"><img src="images/villas/v2-2.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">背向立面圖</p>
                                    <div class="img"><img src="images/villas/v2-3.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">右向立面圖</p>
                                    <div class="img"><img src="images/villas/v2-4.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">左向立面圖</p>
                                    <div class="img"><img src="images/villas/v2-5.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">一樓平面圖</p>
                                    <div class="img"><img src="images/villas/v2-6.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">二樓平面圖</p>
                                    <div class="img"><img src="images/villas/v2-7.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">三樓平面圖</p>
                                    <div class="img"><img src="images/villas/v2-8.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">屋頂平面圖</p>
                                    <div class="img"><img src="images/villas/v2-9.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="content" v-if="hashType===3" :class="hashType===3?'active':''">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>望</h2>
                                            <p>滿月月相、一輪明月。<br>向遠處、高處看。</p>
                                            <ul>
                                                <li>B-41</li>
                                                <li>土地面積：214.29坪</li>
                                                <li>建物面積：166.03坪</li>
                                                <li>建物樓層：3層</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <img src="images/villas/v3-1.jpg" alt=""><span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">正向立面圖</p>
                                    <div class="img"><img src="images/villas/v3-2.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">背向立面圖</p>
                                    <div class="img"><img src="images/villas/v3-3.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">右向立面圖</p>
                                    <div class="img"><img src="images/villas/v3-4.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">左向立面圖</p>
                                    <div class="img"><img src="images/villas/v3-5.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">一樓平面圖</p>
                                    <div class="img"><img src="images/villas/v3-6.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">二樓平面圖</p>
                                    <div class="img"><img src="images/villas/v3-7.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">三樓平面圖</p>
                                    <div class="img"><img src="images/villas/v3-8.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">屋頂平面圖</p>
                                    <div class="img"><img src="images/villas/v3-9.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="content" v-if="hashType===4" :class="hashType===4?'active':''">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>盈</h2>
                                            <p>豐富的、飽滿的。水清澈的樣子。</p>
                                            <ul>
                                                <li>B-42</li>
                                                <li>土地面積：201.48坪</li>
                                                <li>建物面積：166.03坪</li>
                                                <li>建物樓層：3層</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <img src="images/villas/v4-1.jpg" alt=""><span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">正向立面圖</p>
                                    <div class="img"><img src="images/villas/v4-2.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">背向立面圖</p>
                                    <div class="img"><img src="images/villas/v4-3.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">右向立面圖</p>
                                    <div class="img"><img src="images/villas/v4-4.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">左向立面圖</p>
                                    <div class="img"><img src="images/villas/v4-5.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">一樓平面圖</p>
                                    <div class="img"><img src="images/villas/v4-6.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">二樓平面圖</p>
                                    <div class="img"><img src="images/villas/v4-7.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">三樓平面圖</p>
                                    <div class="img"><img src="images/villas/v4-8.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">屋頂平面圖</p>
                                    <div class="img"><img src="images/villas/v4-9.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="content" v-if="hashType===5" :class="hashType===5?'active':''">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>曉</h2>
                                            <p>天剛亮的時候、清晨的。光明。</p>
                                            <ul>
                                                <li>B-43</li>
                                                <li>土地面積：181.18坪</li>
                                                <li>建物面積：129.04坪</li>
                                                <li>建物樓層：3層</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <img src="images/villas/v5-1.jpg" alt=""><span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">正向立面圖</p>
                                    <div class="img"><img src="images/villas/v5-2.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">背向立面圖</p>
                                    <div class="img"><img src="images/villas/v5-3.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">右向立面圖</p>
                                    <div class="img"><img src="images/villas/v5-4.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">左向立面圖</p>
                                    <div class="img"><img src="images/villas/v5-5.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">一樓平面圖</p>
                                    <div class="img"><img src="images/villas/v5-6.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">二樓平面圖</p>
                                    <div class="img"><img src="images/villas/v5-7.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">三樓平面圖</p>
                                    <div class="img"><img src="images/villas/v5-8.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">屋頂平面圖</p>
                                    <div class="img"><img src="images/villas/v5-9.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="content" v-if="hashType===6" :class="hashType===6?'active':''">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>晌</h2>
                                            <p>音同「賞」。<br>正午，或指一會兒、片刻的時間。</p>
                                            <ul>
                                                <li>B-44</li>
                                                <li>土地面積：164.77坪</li>
                                                <li>建物面積：128.59坪</li>
                                                <li>建物樓層：3層</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <img src="images/villas/v6-1.jpg" alt=""><span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">正向立面圖</p>
                                    <div class="img"><img src="images/villas/v6-2.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">背向立面圖</p>
                                    <div class="img"><img src="images/villas/v6-3.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">右向立面圖</p>
                                    <div class="img"><img src="images/villas/v6-4.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">左向立面圖</p>
                                    <div class="img"><img src="images/villas/v6-5.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">一樓平面圖</p>
                                    <div class="img"><img src="images/villas/v6-6.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">二樓平面圖</p>
                                    <div class="img"><img src="images/villas/v6-7.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">三樓平面圖</p>
                                    <div class="img"><img src="images/villas/v6-8.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">屋頂平面圖</p>
                                    <div class="img"><img src="images/villas/v6-9.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="content" v-if="hashType===7" :class="hashType===7?'active':''">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>沐</h2>
                                            <p>沉靜、承受，有潔淨之意。</p>
                                            <ul>
                                                <li>B-49</li>
                                                <li>土地面積：130.75坪</li>
                                                <li>建物面積：101.85坪</li>
                                                <li>建物樓層：2層</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <img src="images/villas/v7-1.jpg" alt=""><span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">正向立面圖</p>
                                    <div class="img"><img src="images/villas/v7-2.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">背向立面圖</p>
                                    <div class="img"><img src="images/villas/v7-3.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">右向立面圖</p>
                                    <div class="img"><img src="images/villas/v7-4.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">左向立面圖</p>
                                    <div class="img"><img src="images/villas/v7-5.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">一樓平面圖</p>
                                    <div class="img"><img src="images/villas/v7-6.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">二樓平面圖</p>
                                    <div class="img"><img src="images/villas/v7-7.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">三樓平面圖</p>
                                    <div class="img"><img src="images/villas/v7-8.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">屋頂平面圖</p>
                                    <div class="img"><img src="images/villas/v7-9.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="content" v-if="hashType===8" :class="hashType===8?'active':''">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>漾</h2>
                                            <p>水流悠長。水波搖動的樣子。</p>
                                            <ul>
                                                <li>B-50</li>
                                                <li>土地面積：133.45坪</li>
                                                <li>建物面積：98.99坪</li>
                                                <li>建物樓層：3層</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <img src="images/villas/v8-1.jpg" alt=""><span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">正向立面圖</p>
                                    <div class="img"><img src="images/villas/v8-2.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">背向立面圖</p>
                                    <div class="img"><img src="images/villas/v8-3.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">右向立面圖</p>
                                    <div class="img"><img src="images/villas/v8-4.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">左向立面圖</p>
                                    <div class="img"><img src="images/villas/v8-5.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">一樓平面圖</p>
                                    <div class="img"><img src="images/villas/v8-6.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">二樓平面圖</p>
                                    <div class="img"><img src="images/villas/v8-7.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">三樓平面圖</p>
                                    <div class="img"><img src="images/villas/v8-8.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">屋頂平面圖</p>
                                    <div class="img"><img src="images/villas/v8-9.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="content" v-if="hashType===9" :class="hashType===9?'active':''">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>霽</h2>
                                            <p>音同「季」。<br>雨後或霜雪過後轉晴、晴朗的天氣。</p>
                                            <ul>
                                                <li>B-59</li>
                                                <li>土地面積：171.71坪</li>
                                                <li>建物面積：137.34坪</li>
                                                <li>建物樓層：3層</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <img src="images/villas/v9-1.jpg" alt=""><span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">正向立面圖</p>
                                    <div class="img"><img src="images/villas/v9-2.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">背向立面圖</p>
                                    <div class="img"><img src="images/villas/v9-3.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">右向立面圖</p>
                                    <div class="img"><img src="images/villas/v9-4.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">左向立面圖</p>
                                    <div class="img"><img src="images/villas/v9-5.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">一樓平面圖</p>
                                    <div class="img"><img src="images/villas/v9-6.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">二樓平面圖</p>
                                    <div class="img"><img src="images/villas/v9-7.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">三樓平面圖</p>
                                    <div class="img"><img src="images/villas/v9-8.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">屋頂平面圖</p>
                                    <div class="img"><img src="images/villas/v9-9.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="content" v-if="hashType===10" :class="hashType===10?'active':''">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>霏</h2>
                                            <p>飄揚、雲氣、雨雪綿密、<br>雲飛的樣子。</p>
                                            <ul>
                                                <li>B-60</li>
                                                <li>土地面積：163.05坪</li>
                                                <li>建物面積：136.04坪</li>
                                                <li>建物樓層：3層</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <img src="images/villas/v10-1.jpg" alt=""><span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">正向立面圖</p>
                                    <div class="img"><img src="images/villas/v10-2.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">背向立面圖</p>
                                    <div class="img"><img src="images/villas/v10-3.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">右向立面圖</p>
                                    <div class="img"><img src="images/villas/v10-4.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">左向立面圖</p>
                                    <div class="img"><img src="images/villas/v10-5.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">一樓平面圖</p>
                                    <div class="img"><img src="images/villas/v10-6.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">二樓平面圖</p>
                                    <div class="img"><img src="images/villas/v10-7.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">三樓平面圖</p>
                                    <div class="img"><img src="images/villas/v10-8.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">屋頂平面圖</p>
                                    <div class="img"><img src="images/villas/v10-9.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="content" v-if="hashType===11" :class="hashType===11?'active':''">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>朗</h2>
                                            <p>明亮的、響亮的、光線充足的。</p>
                                            <ul>
                                                <li>B-64</li>
                                                <li>土地面積：132.25坪</li>
                                                <li>建物面積：114.19坪</li>
                                                <li>建物樓層：3層</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <img src="images/villas/v11-1.jpg" alt=""><span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">正向立面圖</p>
                                    <div class="img"><img src="images/villas/v11-2.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">背向立面圖</p>
                                    <div class="img"><img src="images/villas/v11-3.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">右向立面圖</p>
                                    <div class="img"><img src="images/villas/v11-4.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">左向立面圖</p>
                                    <div class="img"><img src="images/villas/v11-5.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">一樓平面圖</p>
                                    <div class="img"><img src="images/villas/v11-6.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">二樓平面圖</p>
                                    <div class="img"><img src="images/villas/v11-7.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">三樓平面圖</p>
                                    <div class="img"><img src="images/villas/v11-8.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">屋頂平面圖</p>
                                    <div class="img"><img src="images/villas/v11-9.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="content" v-if="hashType===12" :class="hashType===12?'active':''">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>櫻</h2>
                                            <p>薔薇科落葉喬木。<br>其中以台灣原生「緋寒櫻」花色最為濃豔。</p>
                                            <ul>
                                                <li>B-66</li>
                                                <li>土地面積：173.24坪</li>
                                                <li>建物面積：140.68坪</li>
                                                <li>建物樓層：3層</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <img src="images/villas/v12-1.jpg" alt=""><span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">正向立面圖</p>
                                    <div class="img"><img src="images/villas/v12-2.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">背向立面圖</p>
                                    <div class="img"><img src="images/villas/v12-3.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">右向立面圖</p>
                                    <div class="img"><img src="images/villas/v12-4.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">左向立面圖</p>
                                    <div class="img"><img src="images/villas/v12-5.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">一樓平面圖</p>
                                    <div class="img"><img src="images/villas/v12-6.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">二樓平面圖</p>
                                    <div class="img"><img src="images/villas/v12-7.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">三樓平面圖</p>
                                    <div class="img"><img src="images/villas/v12-8.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">屋頂平面圖</p>
                                    <div class="img"><img src="images/villas/v12-9.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="content" v-if="hashType===13" :class="hashType===13?'active':''">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>桐</h2>
                                            <p>大戟科落葉小喬木。<br>「五月雪」即指油桐花漫天飛舞的景致。</p>
                                            <ul>
                                                <li>B-67</li>
                                                <li>土地面積：172.27坪</li>
                                                <li>建物面積：141.26坪</li>
                                                <li>建物樓層：3層</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <img src="images/villas/v13-1.jpg" alt=""><span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">正向立面圖</p>
                                    <div class="img"><img src="images/villas/v13-2.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">背向立面圖</p>
                                    <div class="img"><img src="images/villas/v13-3.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">右向立面圖</p>
                                    <div class="img"><img src="images/villas/v13-4.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">左向立面圖</p>
                                    <div class="img"><img src="images/villas/v13-5.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">一樓平面圖</p>
                                    <div class="img"><img src="images/villas/v13-6.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">二樓平面圖</p>
                                    <div class="img"><img src="images/villas/v13-7.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">三樓平面圖</p>
                                    <div class="img"><img src="images/villas/v13-8.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">屋頂平面圖</p>
                                    <div class="img"><img src="images/villas/v13-9.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="content" v-if="hashType===14" :class="hashType===14?'active':''">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>樺</h2>
                                            <p>落葉喬木。白樺樹樹皮潔白、<br>枝條柔軟，又名「美人樹」。</p>
                                            <ul>
                                                <li>B-68</li>
                                                <li>土地面積：174.61坪</li>
                                                <li>建物面積：137.60坪</li>
                                                <li>建物樓層：3層</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <img src="images/villas/v14-1.jpg" alt=""><span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">正向立面圖</p>
                                    <div class="img"><img src="images/villas/v14-2.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">背向立面圖</p>
                                    <div class="img"><img src="images/villas/v14-3.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">右向立面圖</p>
                                    <div class="img"><img src="images/villas/v14-4.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">左向立面圖</p>
                                    <div class="img"><img src="images/villas/v14-5.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">一樓平面圖</p>
                                    <div class="img"><img src="images/villas/v14-6.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">二樓平面圖</p>
                                    <div class="img"><img src="images/villas/v14-7.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">三樓平面圖</p>
                                    <div class="img"><img src="images/villas/v14-8.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">屋頂平面圖</p>
                                    <div class="img"><img src="images/villas/v14-9.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="content" v-if="hashType===15" :class="hashType===15?'active':''">
                            <div class="villas-slide">
                                <div class="s-item">
                                    <div class="letter-intro">
                                        <div class="left">
                                            <h2>嵐</h2>
                                            <p>山中的霧氣。<br>其呈現翠綠色，潔淨明麗。</p>
                                            <ul>
                                                <li>B-72</li>
                                                <li>土地面積：200.32坪</li>
                                                <li>建物面積：153.23坪</li>
                                                <li>建物樓層：3層</li>
                                            </ul>
                                        </div>
                                        <div class="right"> <img src="images/villas/v15-1.jpg" alt=""><span class="notice">*本建案為成屋銷售，網站所列資訊仍有調整可能;平立面圖僅為裝潢參考，一切以合約內容及交屋現況為準。</span></div>
                                    </div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">正向立面圖</p>
                                    <div class="img"><img src="images/villas/v15-2.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">背向立面圖</p>
                                    <div class="img"><img src="images/villas/v15-3.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">右向立面圖</p>
                                    <div class="img"><img src="images/villas/v15-4.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">左向立面圖</p>
                                    <div class="img"><img src="images/villas/v15-5.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">一樓平面圖</p>
                                    <div class="img"><img src="images/villas/v15-6.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">二樓平面圖</p>
                                    <div class="img"><img src="images/villas/v15-7.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">三樓平面圖</p>
                                    <div class="img"><img src="images/villas/v15-8.jpg" alt=""></div>
                                </div>
                                <div class="s-item">
                                    <p class="sub">屋頂平面圖</p>
                                    <div class="img"><img src="images/villas/v15-9.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--render main view-->
        </div>
        <div class="l-footer footer active" :class="hashType?ft[breadcrumbs]:(ft[breadcrumbs]+' f-enter')">
            <div class="l-container">
                <div class="left">
                    <p v-if="breadcrumbs===0">聯絡掬月<a href="mailto:wm@wmoon.tw"> wm@wmoon.tw</a></p>
                    <div class="breadcrumb" v-if="breadcrumbs&gt;0" :class="'b' + breadcrumbs"><a class="first" href="main.html">首頁</a><span>＞</span>
                        <div class="menu">
                            <ul class="menu-list">
                                <li v-for="(item,index) in mData.menu_list" :class="breadcrumbs === item.breadcrumb ? 'active':''"><a @click="goPage(item.link)">{{item.title}}</a></li>
                            </ul>
                        </div>
                        <div class="second" v-if="hashType &amp;&amp; getSubMenu()"><span>＞</span><span class="active">{{getSubMenu().name}}</span></div>
                    </div>
                </div>
                <div class="right" v-if="breadcrumbs&gt;=0">
                    <p>預約接待 +886 2 22166 3000</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/lib.js"></script>
    <script type="text/javascript" id="appjs" src="js/app.js?v=1606187153336" data-mode="false" data-site=""></script>
    <script src="js/index.js?v=1606187153336"></script>
    <script type="text/javascript"></script>
</body>

</html>