@font-face {
  font-family: myFirstFont;
  src: url("asset/Enrique Round.ttf");
}
html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: myFirstFont;
  font-size: 28px;
}
#body {
	background: white;
	transition: all 0.5s;
}
div#instruction {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 40vh;
  text-align: center;
}
div#result {
  position: absolute;
  width: 80%;
  left: 10%;
  top: calc(40vh + 120px);
  text-align: center;
   
}
#coverbg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 2.9s;
  opacity: 0;
}
#coverleft{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 3.3s;
  opacity: 0;
}
#cover1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 3.5s;
  opacity: 0;
}
#cover2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 3.9s;
  opacity: 0;
}
#coverb{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 3.2s;
  opacity: 0;
}